<div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
  <div class="flex self-stretch space-x-4 items-center justify-between">
    <div class="text-base font-semibold leading-relaxed text-coolGray-900">
      Address 1
    </div>
    <a class="text-xs font-bold leading-tight text-right text-coolGray-300">
      Change Address
    </a>
  </div>
  <div class="flex self-stretch space-x-3 items-start justify-start">
    <div>
      <img src="/fimgs/262_233.x1.svg" />
    </div>
    <div class="text-sm leading-snug text-coolGray-900">
      John Doe - (+62) 876 1244 1222
      <br />
      Jl. Payung no 26D
      <br />
      Kota Pekanbaru - Payung Sekaki, Riau
    </div>
  </div>
</div>