<div class="flex flex-col rounded overflow-hidden overflow-hidde">
  <a
    class="block"
    style="padding:0px;margin:0px;"
    href={`/m/product-detail-mobile/${props.id}`}
  >
    <div class="bg-gray-100 p-4">
      <img src="/fimgs/232_297.x1.svg" />
    </div>
    <div class="bg-white px-4 py-3 space-y-1">
      <div class="text-xs font-medium leading-tight text-coolGray-900">
        {props.title}
      </div>
      <div class="text-sm font-bold leading-snug text-coolGray-900">
        Rp {props.harga ? props.harga : "kosong"}
      </div>
    </div>
  </a>
</div>