<div class="flex self-stretch space-x-4 items-center justify-start bg-white">
  <div
    class="bg-gray-100 p-4 rounded"
    style="min-width: 9rem; max-width: 9rem;"
  >
    <img src={props.img} />
  </div>
  <div class="flex flex-col flex-grow space-y-3 items-start justify-start flex-grow">
    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
      <div class="text-base font-medium leading-relaxed text-coolGray-900">
        {props.title}
      </div>
      <div class="text-sm leading-snug text-coolGray-500">Rp{props.price}</div>
    </div>
    <div class="flex self-stretch items-center justify-between">
      <div class="flex space-x-3 items-center justify-start">
        <div class="flex justify-center">
          <button
            onClick={() => {
              props.sub();
            }}
            class="flex items-start justify-start px-1 py-0 border rounded border-coolGray-500"
          >
            -
          </button>
        </div>
        <div class="text-sm leading-snug text-center text-coolGray-500 px-4">
          {props.qty}
        </div>
        <div class="flex flex-col space-y-96 justify-center">
          <button
            onClick={() => {
              props.add();
            }}
            class="flex items-start justify-start px-1 py-0 border rounded border-coolGray-500"
          >
            +
          </button>
        </div>
      </div>
      <div class="flex space-x-3 items-center justify-end">
        <button
          onClick={() => {
            props.del();
          }}
        >
          <img
            class={props.mode ? "hidden" : ""}
            style="width: 18px; min-width: 18px; max-width: 18px; height: 20px; min-height: 20px; max-height: 20px;"
            src="/fimgs/214_464.x1.svg"
          />
        </button>
      </div>
    </div>
  </div>
</div>