<div class="flex self-stretch flex-col space-y-4 items-start justify-start">
  <div class="flex self-stretch flex-col space-y-3 items-start justify-start px-6">
    <div class="flex self-stretch space-x-4 items-center justify-between">
      <div class="text-base font-bold leading-relaxed text-coolGray-900">
        Order ID #868911
      </div>
      <div class="text-xs italic font-italic leading-tight text-right text-indigo-400">
        pending
      </div>
    </div>
    <div class="flex self-stretch space-x-3 items-start justify-start">
      <img src="/fimgs/377_3018.x1.png" class={`flex self-stretch flex-col items-start justify-start bg-white`} style={`width: 64px; min-width: 64px; max-width: 64px; height: 64px; min-height: 64px; max-height: 64px;`} />
      <div class="flex flex-1 flex-col space-y-0.5 items-start justify-start">
        <div class="text-base font-medium leading-relaxed text-coolGray-900">
          ViewSonic PA503SE
        </div>
        <div class="text-sm leading-snug text-coolGray-500">Rp1.558.000 x1</div>
      </div>
    </div>
    <div class="flex self-stretch space-x-4 items-center justify-between">
      <div class="text-sm leading-snug text-coolGray-500">10 more items</div>
      <div class="text-base font-medium leading-relaxed text-right text-coolGray-900">
        Rp9.273.125
      </div>
    </div>
  </div>
</div>