<>
  <effect
    meta={{
      barangs: [],
      search_keyword: "",
    }}
    run={async () => {
      console.log("aaa");
      api("/api/barang").then((e) => {
        console.log(params.keyword);
        meta.search_keyword = params.keyword;
        meta.barangs = e.data;
      });

      meta.action = {
        onEnter: (e) => {
          if (e.code === "Enter") {
            console.log(meta.search_keyword);
            // api seacrh disini
            //location.href = `/m/search-mobile/${meta.search_keyword}`;
          }
        },
        onSearch: (e) => {
          runInAction(() => {
            meta.search_keyword = e.target.value;
          });
        },
      };
    }}
  />
  <>
    <div class="flex flex-col items-start justify-start h-screen w-full bg-white">
      {/*notif and chart button*/}
      <top-naviagation mode={0} />

      {/*body*/}
      <div
        class="flex self-stretch flex-col  flex-grow space-y-7 items-start justify-start overflow-auto"
        style="padding-bottom: 3rem;"
      >
        {/*search*/}
        <div class="flex flex-col space-y-4 items-start justify-start w-full mb-1">
          <div class="text-3xl font-bold text-coolGray-900 px-6">Search</div>
          <div class="flex w-full px-6">
            <input
              value={meta.search_keyword}
              onChange={(e) => {
                meta.action.onSearch(e);
              }}
              onKeyPress={(e) => {
                meta.action.onEnter(e);
              }}
              placeholder="Search"
              class=" flex w-full bg-gray-100 px-3 py-2 rounded"
            />
          </div>
        </div>
        {/*aa*/}
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
          <div class="grid grid-cols-2 gap-3 w-full">
            {meta.barangs.map((x, i) => (
              <box-item2
                title={x.nama_barang}
                harga={x.harga_barang}
                img={x.gambar_barang}
              />
            ))}
          </div>
        </div>
      </div>
    </div>
  </>
</>