<>
  <effect
    meta={{
      barangs: [],
      search_keyword: "",
      is_loding: false,
      is_filter: false,
    }}
    run={async () => {
      meta.search_keyword = params.keyword ? params.keyword : "";
      meta.action = {
        get_items: () => {
          runInAction(() => {
            api("/api/barang?search=" + meta.search_keyword).then((e) => {
              console.log(e);
              //meta.search_keyword = params.keyword;
              meta.barangs = e.data;
              meta.is_loding = false;
            });
          });
        },
        onEnter: (e) => {
          if (e.code === "Enter") {
            //console.log(meta.search_keyword);
            // api seacrh disini
            meta.search_keyword = e.target.value;
            //location.href = `/m/search-mobile/${meta.search_keyword}`;
            meta.action.get_items();
          }
        },
        onSearch: (e) => {
          runInAction(() => {
            meta.search_keyword = e.target.value;
          });
        },
      };

      meta.action.get_items();
      window.history.replaceState("aa", "home page", "/m/search-mobile/");
    }}
  />
  <>
    <loding state={meta.is_loding} />
    <filter
      state={meta.is_filter}
      onBgClick={() => {
        meta.is_filter = !meta.is_filter;
        console.log("aaaa");
      }}
    />
    <div
      class={
        (meta.is_loding ? "hidden" : "flex") +
        " flex flex-col items-start justify-start h-screen w-full bg-white"
      }
    >
      {/*notif and chart button*/}
      <top-naviagation mode={0} />

      {/*body*/}
      <div
        class="flex self-stretch flex-col  flex-grow space-y-7 items-start justify-start overflow-auto"
        style="padding-bottom: 3rem;"
      >
        {/*search*/}
        <div class="flex flex-col space-y-4 items-start justify-start w-full mb-1">
          <div class="flex justify-between self-stretch px-6">
            <div class="text-3xl font-bold text-coolGray-900 ">Search</div>
            <button
              onClick={() => {
                meta.is_filter = !meta.is_filter;
                console.log("yeah");
              }}
              style="width: 2rem; height: 2rem"
            >
              <img src="/fimgs/308_3875.x1.svg" />
            </button>
          </div>
          <div class="flex w-full px-6">
            <div class=" flex w-full bg-gray-100 px-3 py-2 rounded">
              <input
                value={meta.search_keyword}
                onChange={(e) => {
                  meta.action.onSearch(e);
                }}
                onKeyPress={(e) => {
                  meta.action.onEnter(e);
                }}
                placeholder="Search"
                class="w-full bg-transparent"
              />
              <img src="/fimgs/I308_1998_157_91.x1.svg" />
            </div>
          </div>
        </div>
        {/*aa*/}
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
          {meta.barangs.length > 0 ? (
            <div class="grid grid-cols-2 gap-3 w-full">
              {meta.barangs.map((x, i) => (
                <box-item2
                  title={x.nama_barang}
                  harga={x.harga_barang}
                  img={"/fimgs/232_297.x1.svg"}
                  id={x.id}
                />
              ))}
            </div>
          ) : (
            <div
              style="padding-top: 5rem;"
              class="text-sm font-bold leading-snug text-center text-coolGray-400 w-full"
            >
              Empty
            </div>
          )}
        </div>
      </div>
    </div>
  </>
</>