<>
  <effect
    meta={{
      barangs: [],
      search_keyword: "",
      pagination: 1,
      is_loding: true,
    }}
    run={async () => {
      console.log("aaa");
      api("/api/barang?page=" + meta.pagination).then((e) => {
        console.log(e);
        meta.barangs = e.data;
        meta.is_loding = false;
      });
      meta.action = {
        onEnter: (e) => {
          if (e.code === "Enter") {
            console.log(meta.search_keyword);
            location.href = `/m/search-mobile/${meta.search_keyword}`;
          }
        },
        onSearch: (e) => {
          runInAction(() => {
            meta.search_keyword = e.target.value;
          });
        },
        onBottom: (e) => {
          const bottom =
            e.target.scrollHeight - e.target.scrollTop ===
            e.target.clientHeight;
          if (bottom) {
            meta.pagination += 1;
            console.log(meta.pagination);
            api("/api/barang?page=" + meta.pagination).then((e) => {
              console.log(e);
              meta.barangs.push(...e.data);
            });
          }
        },
      };
      window.history.replaceState("aa", "home page", "/m/home-mobile");
      user.notif = false;
    }}
  />
  <>
    <loding state={meta.is_loding} />
    <div
      class={
        "flex-col items-start justify-start h-screen w-full bg-white " +
        (meta.is_loding ? "hidden" : "flex")
      }
    >
      {/*notif and a chart button*/}
      <top-naviagation mode={1} />

      {/*body*/}
      <div
        onScroll={(e) => {
          meta.action.onBottom(e);
        }}
        class="hover:bg-gray-100 flex self-stretch flex-col  flex-grow space-y-7 items-start justify-start overflow-auto"
        style="padding-bottom: 3rem;"
      >
        {/*search*/}
        <div class="flex flex-col space-y-4 items-start justify-start w-full mb-2">
          <div class="text-3xl font-bold text-coolGray-900 px-6">
            Discover More
          </div>
          <div class="flex w-full px-6">
            <div class=" flex w-full bg-gray-100 px-3 py-2 rounded">
              <input
                value={meta.search_keyword}
                onChange={(e) => {
                  meta.action.onSearch(e);
                }}
                onKeyPress={(e) => {
                  meta.action.onEnter(e);
                }}
                placeholder="Search"
                class="w-full bg-transparent"
              />
              <img src="/fimgs/I308_1998_157_91.x1.svg" />
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-4 items-start justify-start w-full">
          <div class="text-xl font-semibold text-coolGray-900 px-6">
            New Arrival
          </div>
          <div class="flex items-start justify-start w-full overflow-auto space-x-4">
            <div class="px-1"></div>
            <box-item />
            <box-item />
            <box-item />
            <box-item />
            <box-item />
            <div class="px-1"></div>
          </div>
        </div>

        {/*aa*/}
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
          {/* tile*/}
          <div class="text-xl font-semibold text-coolGray-900">
            Recommend for you
          </div>

          <div class="grid grid-cols-2 gap-3 w-full">
            {meta.barangs.map((x, i) => (
              <box-item2
                title={x.nama_barang}
                harga={x.harga_barang}
                img={"/fimgs/232_297.x1.svg"}
                id={x.id}
              />
            ))}
          </div>
        </div>

        <div class="text-sm font-bold leading-snug text-center text-coolGray-400 w-full">
          you’ve reached the end.
        </div>
      </div>

      <navbar class="text-blue-700" state={1} />
    </div>
  </>
</>