<>
  <effect meta={{}} run={async () => {}} />
  <>
    <div
      class="flex flex-1 self-stretch flex-col items-start justify-start bg-coolGray-100 overflow-y-auto"
      id="content"
    >
      <div class="flex flex-1 self-stretch items-start justify-start">
        <div class="flex flex-1 self-stretch flex-col space-y-10 items-start justify-start">
          <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start px-9 pb-10 relative overflow-y-auto">
            <div class="flex self-stretch space-x-4 items-start justify-between">
              <div class="text-3xl font-bold text-coolGray-900">Edit Order</div>
              <div class="flex items-center justify-start px-4 py-2 bg-blue-700 rounded">
                <div class="text-base leading-relaxed text-center text-white">
                  Update Order
                </div>
              </div>
            </div>
            <div class="flex self-stretch space-x-8 items-start justify-start">
              <div class="flex flex-1 flex-col space-y-9 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-6 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
                    <div class="text-base font-bold leading-relaxed text-coolGray-900">
                      Order #1425 details
                    </div>
                    <div class="flex self-stretch items-end justify-start">
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                          <div class="flex self-stretch flex-col items-start justify-start">
                            <div class="text-base font-medium leading-relaxed text-coolGray-500">
                              Date Created
                            </div>
                          </div>
                          <div class="flex self-stretch space-x-2 items-start justify-start">
                            <div class="flex flex-1 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                              <div class="text-base leading-relaxed text-coolGray-900">
                                30 November 2021
                              </div>
                            </div>
                            <div class="flex flex-1 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                              <div class="text-base leading-relaxed text-coolGray-900">
                                12:24 PM
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-5 items-start justify-start">
                      <div class="flex flex-1 items-end justify-start">
                        <div class="flex flex-1 flex-col items-start justify-start">
                          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                            <div class="flex self-stretch flex-col items-start justify-start">
                              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                                Rent Date
                              </div>
                            </div>
                            <div class="flex self-stretch items-start justify-start">
                              <div class="flex flex-1 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                                <div class="text-base leading-relaxed text-coolGray-900">
                                  2 December 2021
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="flex flex-1 items-end justify-start">
                        <div class="flex flex-1 flex-col items-start justify-start">
                          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                            <div class="flex self-stretch flex-col items-start justify-start">
                              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                                Return Date
                              </div>
                            </div>
                            <div class="flex self-stretch items-start justify-start">
                              <div class="flex flex-1 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                                <div class="text-base leading-relaxed text-coolGray-900">
                                  5 December 2021
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-end justify-start">
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                          <div class="flex self-stretch flex-col items-start justify-start">
                            <div class="text-base font-medium leading-relaxed text-coolGray-500">
                              Status
                            </div>
                          </div>
                          <div class="flex self-stretch items-start justify-start">
                            <div class="flex flex-1 space-x-2 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                              <div class="text-base leading-relaxed text-coolGray-900">
                                On the way
                              </div>
                              <div />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-end justify-start">
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                          <div class="flex self-stretch flex-col items-start justify-start">
                            <div class="text-base font-medium leading-relaxed text-coolGray-500">
                              Customer
                            </div>
                          </div>
                          <div class="flex self-stretch items-start justify-start">
                            <div class="flex flex-1 space-x-2 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                              <div class="text-base leading-relaxed text-coolGray-900">
                                RNTU-1025: Santo Wijaya
                              </div>
                              <div />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-end justify-start">
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                            <div class="text-base font-medium leading-relaxed text-coolGray-500">
                              Shipping Address
                            </div>
                            <div class="text-sm leading-snug text-coolGray-900">
                              John Doe - (+62) 876 1244 1222
                              <br />
                              Jl. Payung no 26D
                              <br />
                              Kota Pekanbaru - Payung Sekaki, Riau
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start p-6 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="flex flex-1 flex-col space-y-5 items-start justify-start pb-10 bg-coolGray-50 shadow border border-coolGray-300">
                        <div class="flex self-stretch items-center justify-start px-2 py-3 bg-coolGray-50 border border-coolGray-300">
                          <div class="flex flex-1 space-x-4 items-center justify-between">
                            <div class="text-base font-bold leading-relaxed text-coolGray-900">
                              Item
                            </div>
                            <div class="text-base font-bold leading-relaxed text-coolGray-900">
                              Cost
                            </div>
                            <div class="text-base font-bold leading-relaxed text-coolGray-900">
                              Qty
                            </div>
                            <div class="text-base font-bold leading-relaxed text-coolGray-900">
                              Total
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start px-2">
                          <div class="flex flex-1 space-x-4 items-center justify-between">
                            <div
                              class="text-base leading-relaxed text-coolGray-900"
                              style="width: 70px;"
                            >
                              Macbook Air 2020
                            </div>
                            <div class="text-base leading-relaxed text-coolGray-900">
                              Rp710.000
                            </div>
                            <div class="text-base leading-relaxed text-coolGray-900">
                              1
                            </div>
                            <div class="text-base leading-relaxed text-coolGray-900">
                              Rp710.000
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm leading-snug text-coolGray-500">
                          Total Cost
                        </div>
                        <div class="text-sm leading-snug text-right text-coolGray-500">
                          Rp710.000
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm leading-snug text-coolGray-500">
                          Shipping Total
                        </div>
                        <div class="text-sm leading-snug text-right text-coolGray-500">
                          Rp0
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm leading-snug text-coolGray-500">
                          Admin Cost
                        </div>
                        <div class="text-sm leading-snug text-right text-coolGray-500">
                          Rp1.000
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm leading-snug text-coolGray-500">
                          Unique Code
                        </div>
                        <div class="text-sm leading-snug text-right text-coolGray-500">
                          Rp125
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm font-bold leading-snug text-coolGray-500">
                          Total
                        </div>
                        <div class="text-sm font-bold leading-snug text-right text-coolGray-500">
                          Rp710.000
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch flex-col items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Bukti Pembayaran
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col items-start justify-start">
                    <img
                      src="/fimgs/535_987.x1.png"
                      class="flex flex-col items-start justify-start"
                      style="
    width: 250px !important;
    height: 250px !important;
"
                    />
                  </div>
                </div>
              </div>
              <div class="flex flex-1 flex-col space-y-3 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-5 items-start justify-start pb-10 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col items-start justify-start p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        Order History
                      </div>
                      <div class="flex items-start justify-start">
                        <div />
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start px-6">
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        11 Okt 2021 19:23 by Admin
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #1425 move from Processing to On the way
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start px-6">
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        09 Okt 2021 19:23 by Admin
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #1425 move from Payment verified to Processing
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start px-6">
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        08 Okt 2021 19:23 by Admin
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #1425 move from Waiting for confirmation to
                        Payment Verified
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start px-6">
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        08 Okt 2021 16:23 by Justin
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #1425 move from Pending to Waiting for
                        Confirmation
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>