<>
  <effect
    meta={{
      order: {},
      selected_statuses: null,
      statuses: [],
      notifs: [],
      isLoding: false,
      async statusChange(e) {
        this.selected_statuses = e.target.value;
        console.log(e.target.value);
      },
      async save() {
        if (this.selected_statuses) {
          this.isLoding = true;
          api(`/api/transaksi/${params.id}/update-tracking`, {
            id_track_template: this.selected_statuses,
          }).then((e) => {
            console.log(e);
            this.getNotifs();
          });
        }
      },
      getTotal() {
        let t = 0;
        this.order?.detail_transaksi?.forEach((e) => {
          t += e.total_harga;
        });
        return t;
      },

      getNotifs() {
        runInAction(() => {
          api(`/api/transaksi/${params.id}/track-order`).then((e) => {
            if (e.status == "SUCCESS") {
              let t = e.data.map((e) => {
                return {
                  created_at: new Date(e.created_at.split(".")[0]),
                  order_id: e.id_transaksi,
                  desc: e.track_template.desc,
                  title: e.track_template.title,
                  admin: e.admin != null ? e.admin.username : "Admin",
                };
              });
              this.notifs = t;
              this.isLoding = false;
              console.log("aaa", this.notifs);
            }
          });
        });
      },
    }}
    run={async () => {
      runInAction(() => {
        console.log("run in action");
        api(`/api/order-detail/${params.id}`).then((e) => {
          if (e.status == "SUCCESS") {
            e.data.tanggal_peminjaman = new Date(e.data.tanggal_peminjaman);
            e.data.tanggal_pengembalian = new Date(e.data.tanggal_pengembalian);
            e.data.tanggal_pemesanan = new Date(
              e.data.tanggal_pemesanan.split(".")[0]
            );
            meta.selected_statuses = e.data.status?.id;
            meta.order = e.data;
            console.log(e.data);

            meta.getNotifs();

            db.status.findMany().then((e) => {
              meta.statuses = e;
            });
            // console.log(sta);
          }
        });
      });
    }}
  />
  <>
    <div
      class="flex flex-1 self-stretch flex-col items-start justify-start bg-coolGray-100 overflow-y-auto"
      id="content"
    >
      <div class="flex flex-1 self-stretch items-start justify-start">
        <div class="flex flex-1 self-stretch flex-col space-y-10 items-start justify-start">
          <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start px-9 pb-10 relative overflow-y-auto">
            <div class="flex self-stretch space-x-4 items-start justify-between">
              <div class="text-3xl font-bold text-coolGray-900">Edit Order</div>
              <button
                disabled={meta.isLoding}
                onClick={meta.save}
                class="flex items-center justify-start px-4 py-2 bg-blue-700 rounded"
              >
                <div class="text-base leading-relaxed text-center text-white">
                  {meta.isLoding ? "Loding.." : "Update Order"}
                </div>
              </button>
            </div>
            <div class="flex self-stretch space-x-8 items-start justify-start">
              <div class="flex flex-1 flex-col space-y-9 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-6 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
                    <div class="text-base font-bold leading-relaxed text-coolGray-900">
                      Order #{meta.order.id} details
                    </div>
                    <div class="flex self-stretch items-end justify-start">
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                          <div class="flex self-stretch flex-col items-start justify-start">
                            <div class="text-base font-medium leading-relaxed text-coolGray-500">
                              Date Created
                            </div>
                          </div>
                          <div class="flex self-stretch space-x-2 items-start justify-start">
                            <div class="flex flex-1 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                              <div class="text-base leading-relaxed text-coolGray-900">
                                {meta.order.tanggal_pemesanan
                                  ? meta.order.tanggal_pemesanan.getDate() +
                                    " " +
                                    getMonthNameFull(
                                      meta.order.tanggal_pemesanan.getMonth()
                                    ) +
                                    " " +
                                    meta.order.tanggal_pemesanan.getFullYear()
                                  : "Unknow Date"}
                                {/*30 November 2021*/}
                              </div>
                            </div>
                            <div class="flex flex-1 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                              <div class="text-base leading-relaxed text-coolGray-900">
                                {meta.order.tanggal_pemesanan
                                  ? padLeadingZeros(
                                      meta.order.tanggal_pemesanan.getHours() %
                                        12 || 12,
                                      2
                                    ) +
                                    ":" +
                                    padLeadingZeros(
                                      meta.order.tanggal_pemesanan.getMinutes(),
                                      2
                                    ) +
                                    (meta.order.tanggal_pemesanan.getHours() >=
                                    12
                                      ? " PM"
                                      : " AM")
                                  : "Unknow Hour"}
                                {/*12:24 PM*/}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-5 items-start justify-start">
                      <div class="flex flex-1 items-end justify-start">
                        <div class="flex flex-1 flex-col items-start justify-start">
                          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                            <div class="flex self-stretch flex-col items-start justify-start">
                              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                                Rent Date
                              </div>
                            </div>
                            <div class="flex self-stretch items-start justify-start">
                              <div class="flex flex-1 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                                <div class="text-base leading-relaxed text-coolGray-900">
                                  {meta.order.tanggal_peminjaman
                                    ? meta.order.tanggal_peminjaman.getDate() +
                                      " " +
                                      getMonthNameFull(
                                        meta.order.tanggal_peminjaman.getMonth()
                                      ) +
                                      " " +
                                      meta.order.tanggal_peminjaman.getFullYear()
                                    : " Unknow Date"}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="flex flex-1 items-end justify-start">
                        <div class="flex flex-1 flex-col items-start justify-start">
                          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                            <div class="flex self-stretch flex-col items-start justify-start">
                              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                                Return Date
                              </div>
                            </div>
                            <div class="flex self-stretch items-start justify-start">
                              <div class="flex flex-1 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                                <div class="text-base leading-relaxed text-coolGray-900">
                                  {meta.order.tanggal_pengembalian
                                    ? meta.order.tanggal_pengembalian.getDate() +
                                      " " +
                                      getMonthNameFull(
                                        meta.order.tanggal_pengembalian.getMonth()
                                      ) +
                                      " " +
                                      meta.order.tanggal_pengembalian.getFullYear()
                                    : " Unknow Date"}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-end justify-start">
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                          <div class="flex self-stretch flex-col items-start justify-start">
                            <div class="text-base font-medium leading-relaxed text-coolGray-500">
                              Status
                            </div>
                          </div>
                          <div class="flex self-stretch items-start justify-start">
                            <div class="flex flex-1 space-x-2 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                              <div class="text-base leading-relaxed text-coolGray-900 w-full">
                                {/*On the way*/}
                                <select
                                  onChange={meta.statusChange}
                                  value={meta.selected_statuses || 0}
                                  class="w-full"
                                >
                                  {meta.statuses.length > 0 &&
                                    meta.statuses.map((e) => (
                                      <option value={e.id}>{e.nama}</option>
                                    ))}
                                </select>
                              </div>
                              <div />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-end justify-start">
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                          <div class="flex self-stretch flex-col items-start justify-start">
                            <div class="text-base font-medium leading-relaxed text-coolGray-500">
                              Customer
                            </div>
                          </div>
                          <div class="flex self-stretch items-start justify-start">
                            <div class="flex flex-1 space-x-2 items-start justify-start px-3 py-2.5 bg-white border rounded border-gray-100">
                              <div class="text-base leading-relaxed text-coolGray-900">
                                {/*RNTU-1025: Santo Wijaya*/}
                                {meta.order.customer
                                  ? meta.order.customer.nama_customer
                                  : "Unknow Id"}
                              </div>
                              <div />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-end justify-start">
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                            <div class="text-base font-medium leading-relaxed text-coolGray-500">
                              Shipping Address
                            </div>
                            <div class="text-sm leading-snug text-coolGray-900">
                              {meta.order.alamat
                                ? meta.order.alamat.nama +
                                  " - " +
                                  meta.order.alamat.no_hp +
                                  ", " +
                                  meta.order.alamat.alamat_pengiriman +
                                  ", " +
                                  meta.order.alamat.kecamatan +
                                  " - " +
                                  meta.order.alamat.kota +
                                  " - " +
                                  meta.order.alamat.provinsi
                                : "unknow address"}
                              {/*John Doe - (+62) 876 1244 1222*/}
                              {/*<br />*/}
                              {/*Jl. Payung no 26D*/}
                              {/*<br />*/}
                              {/*Kota Pekanbaru - Payung Sekaki, Riau*/}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start p-6 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="flex flex-1 flex-col space-y-5 items-start justify-start pb-10 bg-coolGray-50 shadow border border-coolGray-300">
                        <div class="flex self-stretch items-center justify-start px-2 py-3 bg-coolGray-50 border border-coolGray-300">
                          <div class="flex flex-1 space-x-4 items-center justify-between">
                            <div class="text-base font-bold leading-relaxed text-coolGray-900">
                              Item
                            </div>
                            <div class="text-base font-bold leading-relaxed text-coolGray-900">
                              Cost
                            </div>
                            <div class="text-base font-bold leading-relaxed text-coolGray-900">
                              Qty
                            </div>
                            <div class="text-base font-bold leading-relaxed text-coolGray-900">
                              Total
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start px-2 flex-col">
                          {meta.order?.detail_transaksi?.map((e) => {
                            return (
                              <div class="flex flex-1 space-x-4 items-center justify-between w-full pt-4">
                                <div
                                  class="text-base leading-relaxed text-coolGray-900"
                                  style="width: 70px;"
                                >
                                  {e.barang.nama_barang}
                                </div>
                                <div class="text-base leading-relaxed text-coolGray-900">
                                  Rp{numberWithCommas(e.barang.harga_barang)}
                                </div>
                                <div class="text-base leading-relaxed text-coolGray-900">
                                  {e.quantity}
                                </div>
                                <div class="text-base leading-relaxed text-coolGray-900">
                                  Rp
                                  {numberWithCommas(e.total_harga)}
                                </div>
                              </div>
                            );
                          })}
                          {/*<div class="flex flex-1 space-x-4 items-center justify-between w-full pt-4">*/}
                          {/*<div*/}
                          {/*class="text-base leading-relaxed text-coolGray-900"*/}
                          {/*style="width: 70px;"*/}
                          {/*>*/}
                          {/*Macbook Air 2020*/}
                          {/*</div>*/}
                          {/*<div class="text-base leading-relaxed text-coolGray-900">*/}
                          {/*Rp710.000*/}
                          {/*</div>*/}
                          {/*<div class="text-base leading-relaxed text-coolGray-900">*/}
                          {/*1*/}
                          {/*</div>*/}
                          {/*<div class="text-base leading-relaxed text-coolGray-900">*/}
                          {/*Rp710.000*/}
                          {/*</div>*/}
                          {/*</div>*/}
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm leading-snug text-coolGray-500">
                          Total Cost
                        </div>
                        <div class="text-sm leading-snug text-right text-coolGray-500">
                          Rp
                          {numberWithCommas(meta.getTotal() || 0)}
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm leading-snug text-coolGray-500">
                          Shipping Total
                        </div>
                        <div class="text-sm leading-snug text-right text-coolGray-500">
                          Rp{numberWithCommas(meta.order?.is_kirim && 1000)}
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm leading-snug text-coolGray-500">
                          Admin Cost
                        </div>
                        <div class="text-sm leading-snug text-right text-coolGray-500">
                          Rp1.000
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm leading-snug text-coolGray-500">
                          Unique Code
                        </div>
                        <div class="text-sm leading-snug text-right text-coolGray-500">
                          Rp{meta.order.kode_unik}
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-4 items-start justify-between">
                        <div class="text-sm font-bold leading-snug text-coolGray-500">
                          Total
                        </div>
                        <div class="text-sm font-bold leading-snug text-right text-coolGray-500">
                          Rp
                          {numberWithCommas(
                            meta.order.total_harga + meta.order.kode_unik
                          )}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch flex-col items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Bukti Pembayaran
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col items-start justify-start">
                    <image src={meta.order.bukti_pembayaran} />
                    {/*<img*/}
                    {/*src="/fimgs/535_987.x1.png"*/}
                    {/*class="flex flex-col items-start justify-start"*/}
                    {/*style="*/}
                    {/*width: 250px !important;*/}
                    {/*height: 250px !important;*/}
                    {/*"*/}
                    {/*/>*/}
                  </div>
                </div>
              </div>
              <div class="flex flex-1 flex-col space-y-3 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-5 items-start justify-start pb-10 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col items-start justify-start p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        Order History
                      </div>
                      <div class="flex items-start justify-start">
                        <div />
                      </div>
                    </div>
                  </div>

                  {""}
                  {meta.notifs.map((e, idx, arr) => (
                    <div
                      key={idx}
                      class="flex self-stretch flex-col items-start justify-start px-6"
                    >
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="text-base font-medium text-coolGray-400">
                          {e.created_at.getDate() +
                            " " +
                            getMonthName(e.created_at.getMonth()) +
                            " " +
                            e.created_at.getFullYear() +
                            " " +
                            e.created_at.getHours() +
                            ":" +
                            e.created_at.getMinutes() +
                            " "}
                          by {e.admin}
                          {/*11 Okt 2021 19:23 by Admin*/}
                        </div>
                        <div class="text-base leading-relaxed text-coolGray-900">
                          Orders <span class="font-medium">#{e.order_id}</span>{" "}
                          move from{" "}
                          <span class="font-medium">
                            {arr[idx + 1] != null
                              ? arr[idx + 1].title
                              : "Pending"}
                          </span>{" "}
                          to
                          <span class="font-medium"> {e.title}</span>
                          {/*{e.title}.<br />*/}
                          {/*{e.desc}*/}
                        </div>
                      </div>
                    </div>
                  ))}
                  {/*<div class="flex self-stretch flex-col items-start justify-start px-6">*/}
                  {/*<div class="flex self-stretch flex-col space-y-2 items-start justify-start">*/}
                  {/*<div class="text-base font-medium leading-relaxed text-coolGray-500">*/}
                  {/*11 Okt 2021 19:23 by Admin*/}
                  {/*</div>*/}
                  {/*<div class="text-base leading-relaxed text-coolGray-900">*/}
                  {/*Orders #1425 move from Processing to On the way*/}
                  {/*</div>*/}
                  {/*</div>*/}
                  {/*</div>*/}
                  {/*<div class="flex self-stretch flex-col items-start justify-start px-6">*/}
                  {/*<div class="flex self-stretch flex-col space-y-2 items-start justify-start">*/}
                  {/*<div class="text-base font-medium leading-relaxed text-coolGray-500">*/}
                  {/*09 Okt 2021 19:23 by Admin*/}
                  {/*</div>*/}
                  {/*<div class="text-base leading-relaxed text-coolGray-900">*/}
                  {/*Orders #1425 move from Payment verified to Processing*/}
                  {/*</div>*/}
                  {/*</div>*/}
                  {/*</div>*/}
                  {/*<div class="flex self-stretch flex-col items-start justify-start px-6">*/}
                  {/*<div class="flex self-stretch flex-col space-y-2 items-start justify-start">*/}
                  {/*<div class="text-base font-medium leading-relaxed text-coolGray-500">*/}
                  {/*08 Okt 2021 19:23 by Admin*/}
                  {/*</div>*/}
                  {/*<div class="text-base leading-relaxed text-coolGray-900">*/}
                  {/*Orders #1425 move from Waiting for confirmation to*/}
                  {/*Payment Verified*/}
                  {/*</div>*/}
                  {/*</div>*/}
                  {/*</div>*/}
                  {/*<div class="flex self-stretch flex-col items-start justify-start px-6">*/}
                  {/*<div class="flex self-stretch flex-col space-y-2 items-start justify-start">*/}
                  {/*<div class="text-base font-medium leading-relaxed text-coolGray-500">*/}
                  {/*08 Okt 2021 16:23 by Justin*/}
                  {/*</div>*/}
                  {/*<div class="text-base leading-relaxed text-coolGray-900">*/}
                  {/*Orders #1425 move from Pending to Waiting for*/}
                  {/*Confirmation*/}
                  {/*</div>*/}
                  {/*</div>*/}
                  {/*</div>*/}
                  {""}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>