<>
  <effect meta={{}} run={async () => {}} />
  <>
    <div
      class={`flex flex-col items-start justify-start h-screen w-full bg-white`}
    >
      {/*notif and chart button*/}
      <top-naviagation mode={3} />
      <div class="flex self-stretch flex-col items-start justify-start overflow-auto">
        <img
          src="/fimgs/232_297.x1.svg"
          class="flex self-stretch flex-col items-start justify-start px-4 py-3 bg-gray-100"
        />
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start px-6 pt-4">
          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
            <div class="text-xl text-coolGray-900">Macbook Air M1 2020</div>
            <div class="flex self-stretch space-x-4 items-center justify-between">
              <div class="text-2xl font-semibold">Rp768.000</div>
              <div class="text-sm leading-snug text-right text-coolGray-500">
                stock: 10
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-bold leading-relaxed text-coolGray-900">
              Options
            </div>
            <div class="flex space-x-2 items-start justify-start">
              <div class="flex items-start justify-start px-5 py-2 bg-white shadow border rounded-full border-blue-700">
                <div class="text-sm text-coolGray-900">Black</div>
              </div>
              <div class="flex items-start justify-start px-5 py-2 bg-white shadow border rounded-full border-coolGray-300">
                <div class="text-sm text-coolGray-900">Silver</div>
              </div>
              <div class="flex items-start justify-start px-5 py-2 bg-white shadow border rounded-full border-coolGray-300">
                <div class="text-sm text-coolGray-900">Gray</div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-bold leading-relaxed text-coolGray-900">
              About
            </div>
            <div class="text-sm leading-snug text-coolGray-900">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum
              cursus auctor egestas nibh aliquet lectus. Fermentum imperdiet mi,
              aliquet vitae. Amet eros vitae consectetur leo. Ante egestas ac in
              blandit. Ultricies pellentesque in ultrices augue orci
              scelerisque.
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-bold leading-relaxed text-coolGray-900">
              Related Product
            </div>
            <div class="flex self-stretch space-x-4 items-start justify-start">
              <box-item />
              <box-item />
            </div>
            <div class="flex self-stretch space-x-4 items-start justify-start">
              <box-item />
              <box-item />
            </div>
          </div>
        </div>
      </div>
      <bottom-nav-detail-product />
    </div>
  </>
</>