<>
  <effect
    meta={{
      province: [],
      selected_province: 0,
      city: [],
      selected_city: 0,
      subdistrict: [],
      selected_subdistrict: 0,
    }}
    run={async () => {
      fetch("http://www.emsifa.com/api-wilayah-indonesia/api/provinces.json")
        .then((response) => response.json())
        .then((data) => {
          meta.province = data;
        });
      meta.action = {
        onProvinceChange: (e) => {
          console.log(e.target.value);
          meta.selected_province = e.target.value;
          if (e.target.value !== "-None-") {
            fetch(
              `http://www.emsifa.com/api-wilayah-indonesia/api/regencies/${
                meta.province[meta.selected_province].id
              }.json`
            )
              .then((response) => response.json())
              .then((data) => {
                meta.city = data;
              });
          } else {
            meta.city = [];
          }
        },
        onCityChange: (e) => {
          console.log(e.target.value);
          meta.selected_city = e.target.value;
          if (e.target.value !== "-None-") {
            fetch(
              `http://www.emsifa.com/api-wilayah-indonesia/api/districts/${
                meta.city[meta.selected_city].id
              }.json`
            )
              .then((response) => response.json())
              .then((data) => {
                meta.subdistrict = data;
              });
          } else {
            meta.subdistrict = [];
          }
        },
        onSubdistrictChange: (e) => {
          console.log(e.target.value);
          meta.selected_subdistrict = e.target.value;
        },
      };
    }}
  />
  <>
    <loding state={meta.is_loding} />
    <div
      class={
        "flex-col items-start justify-start h-screen w-full bg-white " +
        (meta.is_loding ? "hidden" : "flex")
      }
    >
      {/*notif and chart button*/}
      <top-naviagation mode={2} />
      <div
        class="flex self-stretch flex-grow flex-col items-start justify-start overflow-auto space-y-4"
        style="padding-bottom:3rem"
      >
        <span class="px-6 font-bold text-2xl">New Address</span>
        <div class="flex flex-col w-full space-y-4 px-6">
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Address Title
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Name
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Phone number
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Road Name - House Number
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Province
            </div>
            <div class="flex self-stretch items-start justify-start">
              <select
                value={meta.selected_province}
                onChange={(e) => {
                  meta.action.onProvinceChange(e);
                }}
                class={
                  "flex items-center justify-start py-3 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              >
                {meta.province.map((x, i) => (
                  <option value={i}>{x.name}</option>
                ))}
              </select>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              City
            </div>
            <div class="flex self-stretch items-start justify-start">
              <select
                value={meta.selected_city}
                onChange={(e) => {
                  meta.action.onCityChange(e);
                }}
                class={
                  "flex items-center justify-start py-3 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              >
                {meta.city.map((x, i) => (
                  <option value={i}>{x.name}</option>
                ))}
              </select>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Subdistrict
            </div>
            <div class="flex self-stretch items-start justify-start">
              <select
                value={meta.selected_subdistrict}
                onChange={(e) => {
                  meta.action.onSubdistrictChange(e);
                }}
                class={
                  "flex items-center justify-start py-3 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              >
                {meta.subdistrict.map((x, i) => (
                  <option value={i}>{x.name}</option>
                ))}
              </select>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Post Number
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Additional Details
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>
      </div>
      <save-cancel />
    </div>
  </>
</>