<>
  <effect meta={{}} run={async () => {}} />
  <>
    <div
      class="flex flex-1 self-stretch flex-col items-start justify-start bg-coolGray-100 overflow-y-auto"
      id="content"
    >
      <div class="flex self-stretch items-start justify-start">
        <div class="flex flex-1 flex-col space-y-10 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start px-9 pb-10">
            <div class="text-3xl font-bold text-coolGray-900">Dashboard</div>
            <div class="flex self-stretch flex-col items-start justify-start p-9 py-6 bg-blue-700 rounded">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="text-2xl font-semibold text-gray-50">
                  New Update!
                </div>
                <div class="text-base font-medium leading-relaxed text-gray-50">
                  Now you can add shortcut to your dashboard. Try it now and get
                  the new experiences!
                </div>
                <div class="flex items-center justify-start px-4 py-2 border rounded border-gray-50">
                  <button class="text-base leading-relaxed text-center text-white">
                    Dismiss
                  </button>
                </div>
              </div>
            </div>
            <div class="flex self-stretch space-x-8 items-start justify-start">
              <div class="flex flex-1 flex-col space-y-7 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-5 items-start justify-start pb-10 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col items-start justify-start p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        Activity
                      </div>
                      <div class="flex space-x-3 items-start justify-start">
                        <div />
                        <div />
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col space-y-4 items-start justify-start pl-5">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        11 Okt 2021 19:23
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #2120 Completed
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        11 Okt 2021 19:23
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #2120 Completed
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        11 Okt 2021 19:23
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #2120 Completed
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        11 Okt 2021 19:23
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #2120 Completed
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        11 Okt 2021 19:23
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Orders #2120 Completed
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-5 items-start justify-start pb-10 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col items-start justify-start p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        #5 ERent Customer
                      </div>
                      <div class="flex space-x-3 items-start justify-start">
                        <div />
                        <div />
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col space-y-4 items-start justify-start pl-5">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Budi Sugiharto
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        PT Wondertamarind
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Budi Sugiharto
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        PT Wondertamarind
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Budi Sugiharto
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        PT Wondertamarind
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Budi Sugiharto
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        PT Wondertamarind
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Budi Sugiharto
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        PT Wondertamarind
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-1 flex-col space-y-5 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-5 items-start justify-start pb-10 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col items-start justify-start p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        #5 ERent Items
                      </div>
                      <div class="flex space-x-3 items-start justify-start">
                        <div />
                        <div />
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col space-y-4 items-start justify-start pl-5">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Lenovo Ideapad 320
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Laptop
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Lenovo Ideapad 320
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Laptop
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Lenovo Ideapad 320
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Laptop
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Lenovo Ideapad 320
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Laptop
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-medium leading-relaxed text-coolGray-500">
                        Lenovo Ideapad 320
                      </div>
                      <div class="text-base leading-relaxed text-coolGray-900">
                        Laptop
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex self-stretch flex-col space-y-5 items-start justify-start pb-10 bg-coolGray-50 shadow border border-coolGray-300"
                  style="margin-top: 28px !important;"
                >
                  <div class="flex self-stretch flex-col items-start justify-start p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        Analytics
                      </div>
                      <div class="flex space-x-3 items-start justify-start">
                        <div />
                        <div />
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col space-y-10 items-start justify-start pl-5">
                    <div class="flex space-x-4 items-start justify-start">
                      <div class="flex space-x-2 items-start justify-start">
                        <img src="/fimgs/u_graph-bar.x1.svg" />
                      </div>
                      <div class="flex space-x-2 items-start justify-start">
                        <div class="text-base font-medium leading-relaxed">
                          Rp12,021,376
                        </div>
                        <div class="text-base leading-relaxed text-coolGray-500">
                          net sales this month
                        </div>
                      </div>
                    </div>
                    <div class="flex space-x-16 items-start justify-start">
                      <div class="flex flex-col space-y-5 items-start justify-start">
                        <div class="flex space-x-4 items-start justify-start">
                          <div class="flex flex-col space-y-1 items-start justify-start">
                            <img src="/fimgs/fi_clock.x1.svg" />
                          </div>
                          <div class="flex flex-col space-y-1 items-start justify-start">
                            <div class="text-base font-medium leading-relaxed">
                              20 Orders
                            </div>
                            <div class="text-sm leading-snug text-coolGray-500">
                              awaiting processing
                            </div>
                          </div>
                        </div>
                        <div class="flex space-x-4 items-start justify-start">
                          <div class="flex flex-col space-y-1 items-start justify-start">
                            <img src="/fimgs/fi_alert-circle.x1.svg" />
                          </div>
                          <div class="flex flex-col space-y-1 items-start justify-start">
                            <div class="text-base font-medium leading-relaxed">
                              12 Products
                            </div>
                            <div class="text-sm leading-snug text-coolGray-500">
                              out of stock
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="flex space-x-4 items-start justify-start ml-4">
                        <div class="flex flex-col space-y-1 items-start justify-start">
                          <img src="/fimgs/fi_x-circle.x1.svg" />
                        </div>
                        <div class="flex flex-col space-y-1 items-start justify-start">
                          <div class="text-base font-medium leading-relaxed">
                            20 Orders
                          </div>
                          <div class="text-sm leading-snug text-coolGray-500">
                            on hold
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>