<>
  <effect
    meta={{
      top_customer: [],
      top_items: [],
      activity: [],
      order_await: "",
      order_on_hold: "",
      product_out_stock: "",
      net_sales: 0,
    }}
    run={async () => {
      meta.action = {
        displayDate: (param) => {
          const months = [
            "Jan",
            "Febr",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sept",
            "Oct",
            "Nov",
            "Dec",
          ];
          const d = new Date(param);
          const year = d.getUTCFullYear();
          const month = months[d.getUTCMonth()];
          const day = d.getUTCDate();
          const hour = d.getUTCHours();
          const minute = d.getUTCMinutes();

          return day + " " + month + " " + year + " " + hour + ":" + minute;
        },
        formatRupiah: (money: number | bigint) => {
          return new Intl.NumberFormat("id-ID", {
            style: "currency",
            currency: "IDR",
            minimumFractionDigits: 0,
          }).format(money);
        },
      };

      meta.activity = await db.track_order.findMany({
        take: 5,
        orderBy: {
          created_at: "desc",
        },
        include: {
          transaksi: {
            select: {
              id: true,
            },
          },
          track_template: {
            select: {
              status: true,
            },
          },
        },
      });

      let barang = await db.barang.findMany({
        include: {
          kategori: true,
          detail_transaksi: {
            where: {
              transaksi: {
                status_transaksi: 2,
              },
            },
            select: {
              quantity: true,
              total_harga: true,
            },
          },
        },
      });
      barang.forEach((item, index) => {
        let rent = 0;
        let sales = 0;
        meta.top_items[index] = {
          nama: item.nama_barang,
          kategori: item.kategori.nama,
        };
        item.detail_transaksi.forEach((i) => {
          rent += i.quantity;
          sales += i.total_harga;
        });
        meta.top_items[index].rent = rent;
        meta.top_items[index].sales = sales;
      });
      meta.top_items.sort((a, b) => {
        return a.sales - b.sales;
      });
      meta.top_items.reverse();

      let customers = await db.customer.findMany({
        select: {
          nama_customer: true,
          nama_perusahaan: true,
          transaksi: {
            where: {
              status_transaksi: 2,
            },
            select: {
              total_harga: true,
              biaya_pengiriman: true,
              kode_unik: true,
              bank: {
                select: {
                  biaya_admin: true,
                },
              },
            },
          },
        },
      });
      customers.forEach((item, index) => {
        let spend = 0;
        meta.top_customer[index] = {
          nama: item.nama_customer,
          nama_perusahaan: item.nama_perusahaan,
          orders: item.transaksi.length,
        };
        item.transaksi.forEach((i) => {
          spend += i.biaya_pengiriman;
          spend += i.total_harga;
          spend += i.kode_unik;
          spend += i.bank.biaya_admin;
        });

        meta.top_customer[index].spend = spend;
      });
      meta.top_customer.sort((a, b) => {
        return a.spend - b.spend;
      });
      meta.top_customer.reverse();

      const order_await = await db.transaksi.findMany({
        where: {
          status_transaksi: { in: [7, 8] },
        },
      });
      meta.order_await = order_await.length;

      const order_on_hold = await db.transaksi.findMany({
        where: {
          tanggal_pemesanan: null,
        },
      });
      meta.order_on_hold = order_on_hold.length;

      const product_out_stock = await db.barang.findMany({
        where: {
          stok_barang: {
            lt: 1,
          },
        },
      });
      meta.product_out_stock = product_out_stock.length;

      const date = new Date();
      const firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
      const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
      let orders_completed = await db.transaksi.findMany({
        where: {
          AND: {
            status_transaksi: 2,
            tanggal_pemesanan: {
              gte: new Date(firstDay),
              lte: new Date(lastDay),
            },
          },
        },
      });
      orders_completed.forEach((item) => {
        meta.net_sales += item.total_harga * (10 / 100);
        meta.net_sales += item.biaya_pengiriman * (10 / 100);
        meta.net_sales += item.kode_unik;
      });
    }}
  />
  <>
    <div
      class="flex flex-1 self-stretch flex-col items-start justify-start bg-coolGray-100 overflow-y-auto"
      id="content"
    >
      <div class="flex self-stretch items-start justify-start">
        <div class="flex flex-1 flex-col space-y-10 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start px-9 pb-10">
            <div class="text-3xl font-bold text-coolGray-900">Dashboard</div>

            {/*<div class="flex self-stretch flex-col items-start justify-start p-9 py-6 bg-blue-700 rounded">*/}
            {/*<div class="flex self-stretch flex-col space-y-4 items-start justify-start">*/}
            {/*<div class="text-2xl font-semibold text-gray-50">*/}
            {/*New Update!*/}
            {/*</div>*/}
            {/*<div class="text-base font-medium leading-relaxed text-gray-50">*/}
            {/*Now you can add shortcut to your dashboard. Try it now and get*/}
            {/*the new experiences!*/}
            {/*</div>*/}
            {/*<div class="flex items-center justify-start px-4 py-2 border rounded border-gray-50">*/}
            {/*<button class="text-base leading-relaxed text-center text-white">*/}
            {/*Dismiss*/}
            {/*</button>*/}
            {/*</div>*/}
            {/*</div>*/}
            {/*</div>*/}

            <div class="flex self-stretch space-x-8 items-start justify-start">
              <div class="flex flex-1 flex-col space-y-7 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-5 items-start justify-start pb-5 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col items-start justify-start p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        Activity
                      </div>
                    </div>
                  </div>

                  <table class="w-full">
                    <tbody class="flex flex-col space-y-4 px-5">
                      {meta.activity.map((item) => {
                        return (
                          <tr class="flex">
                            <td class="font-medium text-coolGray-500 flex-1">
                              {meta.action.displayDate(item.created_at)}
                            </td>
                            <td class="text-coolGray-900">
                              Orders #{item.transaksi.id}
                            </td>
                            <td class="text-coolGray-900 flex-1 ml-1">
                              {item.track_template.status.nama}
                            </td>
                          </tr>
                        );
                      })}
                    </tbody>
                  </table>
                </div>
                <div class="flex self-stretch flex-col space-y-5 pb-5 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-2">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        #5 ERent Customer
                      </div>
                    </div>
                  </div>
                  <table>
                    <tbody class="flex flex-col space-y-4 pl-5">
                      {meta.top_customer.slice(0, 5).map((item) => {
                        return (
                          <tr class="flex w-full">
                            <td class="font-medium text-coolGray-500 flex flex-1">
                              {item.nama}
                            </td>
                            <td class=" text-coolGray-900 flex flex-1">
                              {item.nama_perusahaan}
                            </td>
                          </tr>
                        );
                      })}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="flex flex-1 flex-col space-y-7 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-5 items-start justify-start bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        Analytics
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col space-y-10 items-start justify-start px-6  pb-7">
                    <div class="flex space-x-4 items-start justify-start">
                      <div class="flex space-x-2 items-start justify-start">
                        <img src="/fimgs/u_graph-bar.x1.svg" />
                      </div>
                      <div class="flex space-x-2 items-start justify-start">
                        <div class="text-base font-medium leading-relaxed">
                          {meta.action.formatRupiah(meta.net_sales)}
                        </div>
                        <div class="text-base leading-relaxed text-coolGray-500">
                          net sales this month
                        </div>
                      </div>
                    </div>
                    <div class="flex space-x-16 items-start justify-start">
                      <div class="flex flex-col space-y-5 items-start justify-start">
                        <div class="flex space-x-4 items-start justify-start">
                          <div class="flex flex-col space-y-2 items-start justify-start">
                            <img src="/fimgs/fi_clock.x1.svg" />
                          </div>
                          <div class="flex flex-col space-y-1 items-start justify-start">
                            <div class="text-base font-medium leading-relaxed">
                              {meta.order_await} Orders
                            </div>
                            <div class="text-sm leading-snug text-coolGray-500">
                              awaiting processing
                            </div>
                          </div>
                        </div>
                        <div class="flex space-x-4 items-start justify-start">
                          <div class="flex flex-col space-y-1 items-start justify-start">
                            <img src="/fimgs/fi_alert-circle.x1.svg" />
                          </div>
                          <div class="flex flex-col space-y-1 items-start justify-start">
                            <div class="text-base font-medium leading-relaxed">
                              {meta.product_out_stock} Products
                            </div>
                            <div class="text-sm leading-snug text-coolGray-500">
                              out of stock
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="flex space-x-4 items-start justify-start ml-4">
                        <div class="flex flex-col space-y-1 items-start justify-start">
                          <img src="/fimgs/fi_x-circle.x1.svg" />
                        </div>
                        <div class="flex flex-col space-y-1 items-start justify-start">
                          <div class="text-base font-medium leading-relaxed">
                            {meta.order_on_hold} Orders
                          </div>
                          <div class="text-sm leading-snug text-coolGray-500">
                            on hold
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="flex self-stretch flex-col space-y-5 pb-5 bg-coolGray-50 shadow border border-coolGray-300">
                  <div class="flex self-stretch flex-col items-start justify-start p-3 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="text-base font-bold leading-relaxed text-coolGray-900">
                        #5 ERent Items
                      </div>
                    </div>
                  </div>

                  <table>
                    <tbody class="flex flex-col space-y-4 pl-5">
                      {meta.top_items.slice(0, 5).map((item) => {
                        return (
                          <tr class="flex w-full">
                            <td class="font-medium text-coolGray-500 flex flex-1">
                              {item.nama}
                            </td>
                            <td class=" text-coolGray-900 flex flex-1">
                              {item.kategori}
                            </td>
                          </tr>
                        );
                      })}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>