<>
  <effect meta={{}} run={async () => {}} />
  <>
    <loding state={meta.is_loding} />
    <div
      class={
        "flex-col items-start justify-start h-screen w-full bg-white " +
        (meta.is_loding ? "hidden" : "flex")
      }
    >
      {/*notif and chart button*/}
      <top-naviagation mode={2} />
      <div
        class="flex self-stretch flex-grow flex-col items-start justify-start overflow-auto space-y-4"
        style="padding-bottom:3rem"
      >
        <span class="px-6 font-bold text-2xl">My Address</span>
        <div class="flex flex-col w-full space-y-4">
          <address />
          <address />
          <address />
          <address />
          <address />
          <address />
          <address />
          <address />
          <address />
          <address />
          <address />
          <address />
          <address />
        </div>
      </div>
      <div
        class="flex self-stretch items-center justify-start p-6 bg-white shadow"
        style="box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.15);z-index: 10;"
      >
        <button class="bg-blue-700 rounded py-3 font-bold text-white">
          Add New Address
        </button>
      </div>
    </div>
  </>
</>