<>
  <effect
    meta={{
      nama_barang: "",
      merk_barang: "",
      detail_barang: "",
      stok_barang: "",
      harga_barang: "",

      kategori_barang: "1",
      created_at: "",
      berat_barang: "",
      kategori: [],

      gambar_barang: null,
      nama_gambar_barang: "",
      gambar_barang_url: "",

      validation() {
        let msg =
          this.nama_barang === "" || this.nama_barang === null
            ? "Product name cant be empty!"
            : this.merk_barang === "" || this.merk_barang === null
            ? "Product brand cant be empty!"
            : this.detail_barang === "" || this.detail_barang === null
            ? "Product detail cant be empty!"
            : // : this.gambar_barang === "" || this.gambar_barang === null
            // ? "Product image cant be empty!"
            // : this.kategori_barang === "" || this.kategori_barang === null
            // ? "Category cant be empty!"
            this.harga_barang === "" || this.harga_barang === null
            ? "Price cant be empty!"
            : this.berat_barang === "" || this.berat_barang === null
            ? "Weight cant be empty!"
            : this.stok_barang === "" || this.stok_barang === null
            ? "Stock cant be empty!"
            : false; // console.log(msg);

        return msg;
      },

      async onChange(key, e) {
        let value = "";

        if (key === "role") {
          value = e;
        } else {
          value = e.target.value;
        }

        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },
      async onInpGambar(e) {
        console.log(e.target.files[0]);
        this.gambar_barang = e.target.files[0];
        this.gambar_barang_url = URL.createObjectURL(e.target.files[0]);
        this.nama_gambar_barang = e.target.files[0].name;
      },

      // async submit() {
      //   let error_msg = this.validation();

      //   if (error_msg) {
      //     alert(error_msg);
      //   } else {
      //     let kategori = api("/api/barang-test", {
      //       barang: {
      //         nama_barang: this.nama_barang,
      //         merk_barang: this.merk_barang,
      //         detail_barang: this.detail_barang,
      //         stok_barang: parseInt(this.stok_barang),
      //         harga_barang: parseInt(this.harga_barang),
      //         gambar_barang: this.gambar_barang,
      //         berat_barang: this.berat_barang,
      //         kategori_barang: parseInt(this.id),
      //         created_at: new Date(),
      //       },
      //       e: "Create",
      //     }).then((res) => {
      //       console.log(res);
      //       navigate("/barang-list");
      //     });
      //   }
      // },

      async upload() {
        console.log(this.gambar_barang);
        let error = this.validation();
        if (error) {
          alert(error);
        } else {
          let brg = {
            id_kategori: parseInt(this.kategori_barang),
            nama_barang: this.nama_barang,
            merk_barang: this.merk_barang,
            detail_barang: this.detail_barang,
            stok_barang: this.stok_barang,
            harga_barang: this.harga_barang,
            berat_barang: this.berat_barang,
          };
          console.log(brg);
          await api(`/api/barang-admin/${params.id}/update`, brg).then((e) => {
            if (e.status === "SUCCESS") {
              console.log(e);
              if (this.gambar_barang) {
                fileUpload(
                  this.gambar_barang,
                  `/api/barang-admin/${e.data.id}/upload-foto`
                ).then((ee) => {
                  console.log(ee);
                });
              }
              navigate("/barang-list");
            }
          });
        }
      },
    }}
    run={async () => {
      meta.action = {
        inpChange: (e) => {
          runInAction(() => {
            meta[e.target.name] = e.target.value;
            console.log(e.target.name); //check email di sini
          });
        },
      };

      await api("/api/kategori-test", {
        kategori: "",
        e: "ReadAll",
      }).then((res) => {
        if (res.res !== "Failure" || res === null) {
          meta.kategori = res.kategori;
        }
      });
      console.log(meta.kategoris);
      //get barang
      if (params.id) {
        await api(`/api/barang/show/${params.id}`).then((e) => {
          if (e.status == "SUCCESS") {
            meta.nama_barang = e.data.nama_barang;
            meta.merk_barang = e.data.merk_barang;
            meta.detail_barang = e.data.detail_barang;
            meta.stok_barang = e.data.stok_barang;
            meta.harga_barang = e.data.harga_barang;

            meta.kategori_barang = e.data.kategori_barang;
            meta.berat_barang = e.data.berat_barang;
            meta.gambar_barang_url = e.data.gambar_barang;
          }
        });
      }
    }}
  />
  <>
    <div
      class="flex flex-1 self-stretch flex-col items-start justify-start bg-coolGray-100 overflow-y-auto"
      id="content"
    >
      <div class="flex self-stretch items-start justify-start">
        <div class="flex flex-1 flex-col space-y-10 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-9 pb-10 relative overflow-y-auto">
            <div class="flex self-stretch space-x-4 items-center justify-start">
              <div class="text-3xl font-bold text-coolGray-900">
                Edit Products
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                Product Name
              </div>
              <div class="flex self-stretch items-start justify-start">
                <input
                  value={meta.nama_barang}
                  name="nama_barang"
                  onChange={(e) => meta.action.inpChange(e)}
                  placeholder="Laptop"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-white border rounded border-gray-100 w-full"
                  }
                />
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                Product Brand
              </div>
              <div class="flex self-stretch items-start justify-start">
                <input
                  value={meta.merk_barang}
                  name="merk_barang"
                  onChange={(e) => meta.action.inpChange(e)}
                  placeholder="Lenovo"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-white border rounded border-gray-100 w-full"
                  }
                />
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                Category Product
              </div>
              <div class="flex self-stretch items-start justify-start">
                <select
                  class="flex items-center justify-start py-2 px-4 bg-white border rounded border-gray-100 w-full"
                  defaultValue="Pilih Kategori"
                  value={meta.kategori_barang}
                  name="kategori_barang"
                  onChange={(e) => {
                    meta.onChange("kategori_barang", e);
                  }}
                >
                  <option
                    value={"Pilih Kategori"}
                    hidden={true}
                    class={`flex self-stretch flex-col items-start justify-start`}
                    style="color: black"
                  >
                    {"Pilih Kategori"}
                  </option>
                  {meta.kategori.length > 0 ? (
                    meta.kategori.map((numList, i) => {
                      return (
                        <option
                          value={numList.id}
                          class={`flex self-stretch flex-col items-start justify-start`}
                          style="color: black"
                        >
                          {numList.nama}
                        </option>
                      );
                    })
                  ) : (
                    <option>None</option>
                  )}
                  {"Pilih Kategori"}
                </select>
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                Description
              </div>
              <div class="flex self-stretch items-start justify-start">
                <textarea
                  rows="5"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-white border rounded border-gray-100 w-full"
                  }
                  name="detail_barang"
                  type="text"
                  placeholder="Masukkan Detail Barang"
                  style={`color: black;
      outline: none;`}
                  value={meta.detail_barang}
                  onChange={(e) => {
                    meta.onChange("detail_barang", e);
                  }}
                />
              </div>
            </div>

            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                Product Image
              </div>

              <div class="flex self-stretch items-start justify-start space-x-5">
                <div
                  style={"width:7rem;height:7rem"}
                  class="rounded overflow-hidden flex items-center justify-center bg-gray-200"
                >
                  <image src={meta.gambar_barang_url} />
                </div>
                <button
                  onClick={() => {
                    document.getElementById("img_inp").click();
                    console.log();
                  }}
                  style={"height:7rem;width:7rem"}
                  class="flex justify-center items-center"
                >
                  <svg
                    width={"4rem"}
                    height={"4rem"}
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="#D1D5DB"
                      d="M19,10a1,1,0,0,0-1,1v3.38L16.52,12.9a2.79,2.79,0,0,0-3.93,0l-.7.71L9.41,11.12a2.79,2.79,0,0,0-3.93,0L4,12.61V7A1,1,0,0,1,5,6h8a1,1,0,0,0,0-2H5A3,3,0,0,0,2,7V19.22A2.79,2.79,0,0,0,4.78,22H17.22a2.88,2.88,0,0,0,.8-.12h0a2.74,2.74,0,0,0,2-2.65V11A1,1,0,0,0,19,10ZM5,20a1,1,0,0,1-1-1V15.43l2.89-2.89a.78.78,0,0,1,1.1,0L15.46,20Zm13-1a1,1,0,0,1-.18.54L13.3,15l.71-.7a.77.77,0,0,1,1.1,0L18,17.21ZM21,4H20V3a1,1,0,0,0-2,0V4H17a1,1,0,0,0,0,2h1V7a1,1,0,0,0,2,0V6h1a1,1,0,0,0,0-2Z"
                    />
                  </svg>
                </button>
                <input
                  hidden
                  id="img_inp"
                  type="file"
                  name="gambar_barang"
                  onChange={meta.onInpGambar}
                  data-height="300"
                  accept="image/png, image/gif, image/jpeg"
                />
              </div>
            </div>

            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                Price
              </div>
              <div class="flex self-stretch items-start justify-start">
                <input
                  value={meta.harga_barang}
                  name="harga_barang"
                  type="number"
                  onChange={(e) => meta.action.inpChange(e)}
                  placeholder="100.000"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-white border rounded border-gray-100 w-full"
                  }
                />
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                Weight (Kg)
              </div>
              <div class="flex self-stretch items-start justify-start">
                <input
                  value={meta.berat_barang}
                  name="berat_barang"
                  type="number"
                  onChange={(e) => meta.action.inpChange(e)}
                  placeholder="1"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-white border rounded border-gray-100 w-full"
                  }
                />
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="text-base font-medium leading-relaxed text-coolGray-500">
                Stock
              </div>
              <div class="flex self-stretch items-start justify-start">
                <input
                  value={meta.stok_barang}
                  name="stok_barang"
                  type="number"
                  onChange={(e) => meta.action.inpChange(e)}
                  placeholder="10"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-white border rounded border-gray-100 w-full"
                  }
                />
              </div>
            </div>
            <div class="flex space-x-4 items-start justify-end w-full">
              <div class="flex items-center justify-start px-4 py-2 border rounded border-blue-700">
                <button
                  class="text-base leading-relaxed text-center text-blue-700"
                  onClick={() => {
                    history.back();
                  }}
                >
                  Discard
                </button>
              </div>
              <div class="flex items-center justify-start px-4 py-2 bg-blue-700 rounded">
                <button
                  class="text-base leading-relaxed text-center text-white"
                  onClick={meta.upload}
                >
                  Edit Product
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>