<>
  <effect
    meta={{
      showProfileModal: 1,
      isActive(route) {
        if (route == window.location.pathname.split("-")[0]) {
          return "bg-indigo-500 w-full";
        } else {
          return null;
        }
      },
    }}
    run={async () => {
      meta.action = {
        changeSwitchModal: (e) => {
          runInAction(() => {
            if (e == 1) {
              meta.showProfileModal = 0;
            } else {
              meta.showProfileModal = 1;
            }
          });
        },
      };
    }}
  />
  <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-coolGray-100">
    <div class="flex self-stretch items-start justify-start h-full fixed w-screen">
      <div class="flex items-start justify-start h-full">
        <div class="flex items-start justify-start px-2 py-8 bg-blue-700 h-full">
          <div class="flex flex-col space-y-7 items-start justify-start">
            <a href="/dashboard-web">
              <img
                src="/fimgs/412_2473.x1.png"
                class="flex flex-col items-start justify-start pl-5"
                style="width: 264px; min-width: 264px; max-width: 264px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </a>
            <div class="flex flex-col space-y-2 items-start justify-start w-full">
              <a
                href="/dashboard-web"
                class={`${meta.isActive(
                  "/dashboard"
                )} flex space-x-4 items-start justify-start px-3 py-2 rounded `}
              >
                <img
                  src="/fimgs/422_1221.x1.png"
                  style="width: 18px; min-width: 18px; max-width: 18px; height: 20.02px; min-height: 20.02px; max-height: 20.02px;"
                />
                <div class="text-base font-medium leading-relaxed text-coolGray-100">
                  Dashboard
                </div>
              </a>
              <a
                href="/barang-list"
                class={`${meta.isActive(
                  "/barang"
                )} flex space-x-4 items-start justify-start px-3 py-2 rounded `}
              >
                <img
                  src="/fimgs/422_1495.x1.png"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                />
                <div class="text-base font-medium leading-relaxed text-coolGray-100">
                  Products
                </div>
              </a>
              <a
                href="/order-list"
                class={`${meta.isActive(
                  "/order"
                )} flex space-x-4 items-start justify-start px-3 py-2 rounded `}
              >
                <img
                  src="/fimgs/422_1837.x1.png"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20.02px; min-height: 20.02px; max-height: 20.02px;"
                />
                <div class="text-base font-medium leading-relaxed text-coolGray-100">
                  Orders
                </div>
              </a>
              <a
                href="/analytics"
                class={`${meta.isActive(
                  "/analytics"
                )} flex space-x-4 items-start justify-start px-3 py-2 rounded `}
              >
                <img
                  src="/fimgs/422_2077.x1.png"
                  style="width: 22px; min-width: 22px; max-width: 22px; height: 22px; min-height: 22px; max-height: 22px;"
                />
                <div class="text-base font-medium leading-relaxed text-coolGray-100">
                  Analytics
                </div>
              </a>
              <a
                href="/user-list"
                class={`${meta.isActive(
                  "/user"
                )} flex space-x-4 items-start justify-start px-3 py-2 rounded `}
              >
                <img
                  src="/fimgs/422_2249.x1.png"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20.01px; min-height: 20.01px; max-height: 20.01px;"
                />
                <div class="text-base font-medium leading-relaxed text-coolGray-100">
                  User
                </div>
              </a>
              <a
                href="/admin-list"
                class={`${meta.isActive(
                  "/admin"
                )} flex space-x-4 items-start justify-start px-3 py-2 rounded `}
              >
                <img
                  src="/fimgs/u_user-check.x1.svg"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20.01px; min-height: 20.01px; max-height: 20.01px;"
                />
                <div class="text-base font-medium leading-relaxed text-coolGray-100">
                  Admin
                </div>
              </a>
              <a
                href="/action-required-list"
                class={`${meta.isActive(
                  "/action"
                )} flex space-x-4 items-start justify-start px-3 py-2 rounded `}
              >
                <img
                  src="/fimgs/u_comment-alt-verify.x1.svg"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20.01px; min-height: 20.01px; max-height: 20.01px;"
                />
                <div class="text-base font-medium leading-relaxed text-coolGray-100">
                  Action Required
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-1 self-stretch flex-col space-y-10 items-start justify-start">
        <div class="flex self-stretch flex-col items-start justify-start bg-coolGray-100">
          <div class="flex flex-1 self-stretch flex-col items-start justify-start px-5 py-4 bg-coolGray-50 shadow">
            <div class="flex self-stretch space-x-5 items-center justify-start">
              <div class="flex flex-1 space-x-4 items-center justify-end">
                <a
                  onClick={(e) =>
                    meta.action.changeSwitchModal(meta.showProfileModal)
                  }
                >
                  <img
                    src="/fimgs/412_2509.x1.png"
                    class="rounded-full"
                    style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;background-image: url('/fimgs/bg-52636d59c23613f8dae671e6f007c8ad50d1d41e');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class={
            "flex flex-col space-y-4 items-start justify-start py-6 bg-white rounded absolute right-0 z-50 " +
            (meta.showProfileModal == 1 ? "hidden" : "")
          }
          style="
    margin-top: 80px !important;
    margin-right: 20px;
"
        >
          <div class="flex self-stretch space-x-4 items-center justify-start px-6">
            <img
              src="/fimgs/412_2509.x1.png"
              class="rounded-full"
              style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;background-image: url('/fimgs/bg-52636d59c23613f8dae671e6f007c8ad50d1d41e');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-2xl font-semibold text-coolGray-900">Admin</div>
            <div class="text-base leading-relaxed text-coolGray-500">
              admin@andromedia.co.id
            </div>
          </div>
          <div
            class="flex self-stretch items-start justify-start px-6 pt-4"
            style="margin-top: 0px !important"
          >
            <div class="text-base leading-relaxed text-coolGray-900">
              <a
                onClick={() => {
                  location.href = "/admin-edit/" + user.admin.id;
                }}
              >
                Edit Profile
              </a>
            </div>
          </div>
          <div
            class="flex self-stretch items-start justify-start px-6 pt-4"
            style="margin-top: 0px !important"
          >
            <div class="text-base leading-relaxed text-coolGray-900">
              <a
                onClick={() => {
                  api("/api/logout").then((e) => {
                    if (e.status == "SUCCESS") {
                      location.href = "/w-login";
                    }
                  });
                }}
              >
                Logout
              </a>
            </div>
          </div>
        </div>
        {children}
      </div>
    </div>
  </div>
</>