<>
  <effect meta={{}} run={async () => {}} />
  <>
    <div class="flex flex-1 self-stretch items-start justify-start px-6 pt-20 pb-32 bg-white">
      <div class="flex flex-1 flex-col space-y-6 items-start justify-start">
        <div class="flex self-stretch flex-col items-center justify-start">
          <div class="flex space-x-12 justify-center">
            <div class="flex items-start justify-start px-20 pt-3 pb-6">
              <div class="bg-pink-900 bg-opacity-50 border border-blue-400" />
            </div>
            <div class="flex flex-col">
              <div class="absolute right-0 bottom-0 bg-rose-200" />
              <div class="absolute right-0 top-0" />
              <div
                class="absolute bg-white border border-red-400"
                style="left: 122.38px; top: 31.08px;"
              />
              <div class="absolute inset-y-0 right-0 my-auto" />
            </div>
            <div />
            <div class="flex flex-col">
              undefined
              <div class="absolute right-0 top-0 bg-red-300" />
              <div class="absolute right-0 top-0 bg-orange-100" />
              <div
                class="flex flex-col absolute"
                style="left: 106.74px; top: 45.38px;"
              >
                <div class="flex flex-col absolute left-0 top-0">
                  <div class="absolute right-0 bottom-0" />
                  <div class="absolute right-0 bottom-0 bg-blue-300" />
                  <div class="absolute right-0 bottom-0" />
                </div>
                <div class="flex flex-col absolute left-0 top-0">
                  <div class="absolute right-0 bottom-0" />
                  <div class="absolute right-0 bottom-0 bg-blue-300" />
                  <div class="absolute right-0 bottom-0" />
                </div>
              </div>
              <div class="absolute right-0 top-0" />
            </div>
            <div />
            <div />
            <div class="bg-pink-900 bg-opacity-50 border border-red-500" />
            <div class="bg-pink-900 bg-opacity-50 border border-gray-800" />
            <div class="bg-pink-900 bg-opacity-50 border border-gray-800" />
            <div class="flex items-start justify-start py-0.5 bg-pink-900 bg-opacity-50 border border-red-500">
              <div class="bg-pink-900 bg-opacity-50 border border-red-500" />
            </div>
            <div class="bg-red-200" />
            <div />
            <div />
            <div />
            <div class="transform rotate-12 bg-blueGray-800" />
            <div class="transform rotate-12 bg-blueGray-800" />
          </div>
        </div>
        <div class="flex self-stretch items-center justify-center">
          <div class="text-3xl font-bold text-center">Hello again.</div>
        </div>
        <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Username or Email
            </div>
            <div class="flex self-stretch items-start justify-start">
              undefined
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Password
            </div>
            <div class="flex self-stretch items-start justify-start">
              undefined
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-6 items-center justify-start">
          <div class="flex space-x-2 items-center justify-start">
            <div class="flex items-start justify-start">
              <div class="flex flex-col space-y-44 items-start justify-start">
                undefined
                <div class="transform -rotate-180 bg-white rounded-full" />
              </div>
            </div>
            <div class="text-base leading-relaxed text-coolGray-900">
              Remember me
            </div>
          </div>
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-relaxed text-right text-coolGray-900">
              Forgot Password?
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start">
          <div class="flex self-stretch items-center justify-center px-4 py-2 bg-orange-600 rounded">
            <div class="text-base font-medium leading-relaxed text-center text-white">
              Sign In
            </div>
          </div>
        </div>
        <div class="flex self-stretch items-center justify-center">
          <div class="text-base leading-relaxed text-center">
            Not have account yet? Sign Up
          </div>
        </div>
      </div>
    </div>
  </>
</>