<>
  <effect meta={{}} run={async () => {}} />
  <>
    <div class="flex flex-col items-start justify-start bg-coolGray-100">
      <div class="flex self-stretch items-start justify-start">
        <div class="flex items-start justify-start">
          <div class="flex flex-col items-start justify-start px-2 py-8 bg-blue-700">
            <div class="flex flex-col space-y-7 items-start justify-start">
              <div class="flex flex-col items-start justify-start pl-5">
                <div />
              </div>
              <div class="flex flex-col space-y-2 items-start justify-start">
                <div class="flex space-x-4 items-start justify-start px-3 py-2 bg-indigo-500 rounded">
                  <div />
                  <div class="text-base font-medium leading-relaxed text-coolGray-100">
                    Dashboard
                  </div>
                </div>
                <div class="flex space-x-4 items-start justify-start px-3 py-2 rounded">
                  <div />
                  <div class="text-base font-medium leading-relaxed text-coolGray-100">
                    Products
                  </div>
                </div>
                <div class="flex space-x-4 items-start justify-start px-3 py-2 rounded">
                  <div />
                  <div class="text-base font-medium leading-relaxed text-coolGray-100">
                    Orders
                  </div>
                </div>
                <div class="flex space-x-4 items-start justify-start px-3 py-2 rounded">
                  <div />
                  <div class="text-base font-medium leading-relaxed text-coolGray-100">
                    Analytics
                  </div>
                </div>
                <div class="flex space-x-4 items-start justify-start px-3 py-2 rounded">
                  <div />
                  <div class="text-base font-medium leading-relaxed text-coolGray-100">
                    User
                  </div>
                </div>
                <div class="flex space-x-4 items-start justify-start px-3 py-2 rounded">
                  <div />
                  <div class="text-base font-medium leading-relaxed text-coolGray-100">
                    Admin
                  </div>
                </div>
                <div class="flex space-x-4 items-start justify-start px-3 py-2 rounded">
                  <div />
                  <div class="text-base font-medium leading-relaxed text-coolGray-100">
                    Action Required
                  </div>
                </div>
                <div class="flex space-x-4 items-start justify-start px-3 py-2 rounded">
                  <div />
                  <div class="text-base font-medium leading-relaxed text-coolGray-100">
                    Setting
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 flex-col space-y-10 items-start justify-start">
          <div class="flex self-stretch flex-col items-start justify-start bg-coolGray-100">
            <div class="flex flex-1 self-stretch flex-col items-start justify-start px-5 py-4 bg-coolGray-50 shadow">
              <div class="flex self-stretch space-x-5 items-center justify-start">
                <div class="flex flex-1 space-x-3 items-center justify-start">
                  <div />
                  <div class="text-base leading-relaxed text-coolGray-500">
                    Search
                  </div>
                </div>
                <div class="flex flex-1 space-x-4 items-center justify-end">
                  <div />
                  <div
                    class="rounded-full"
                    style="background-image: url('/fimgs/bg-52636d59c23613f8dae671e6f007c8ad50d1d41e');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start px-9 pb-10">
            <div class="text-3xl font-bold text-coolGray-900">Dashboard</div>
            <div class="flex self-stretch flex-col items-start justify-start px-9 py-6 bg-blue-700 rounded">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="text-2xl font-semibold text-coolGray-50">
                  New Update!
                </div>
                <div class="text-base font-medium leading-relaxed text-coolGray-50">
                  Now you can add shortcut to your dashboard. Try it now and get
                  the new experiences!
                </div>
                <div class="flex items-center justify-start px-4 py-2 border rounded border-coolGray-50">
                  <div class="text-base leading-relaxed text-center text-white">
                    Dismiss
                  </div>
                </div>
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="flex flex-col space-y-4 items-start justify-start py-6 bg-white rounded">
                <div class="flex self-stretch space-x-4 items-center justify-start px-6">
                  <div
                    class="rounded-full"
                    style="background-image: url('/fimgs/bg-52636d59c23613f8dae671e6f007c8ad50d1d41e');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                  <div class="text-2xl font-semibold text-coolGray-900">
                    Admin
                  </div>
                  <div class="text-base leading-relaxed text-coolGray-500">
                    admin@andromedia.co.id
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start px-6">
                  <div class="text-base leading-relaxed text-coolGray-900">
                    Edit Profile
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start px-6">
                  <div class="text-base leading-relaxed text-coolGray-900">
                    Logout
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>