<>
  <effect
    meta={{}}
    run={() => {
      console.log(window.user.role);
    }}
  />
  <admin
    content={{
      customer: {
        table: "customer",
        list: {
          table: {
            columns: [
              ["nama_perusahaan", { title: "Perusahaan" }],
              ["email", {}],
              ["no_hp", { title: "No Hp" }],
              ["alamat", {}],
              ["surat_ket_pt", { title: "Surat Keterangan" }],
              ["status", {}],
            ],
          },
        },
        form: {
          alter: {
            no_hp: { title: "No Hp" },
            change_password: { title: "Ganti Password" },
          },
          onSave: ({ data, saving, save }) => {
            console.log(data.change_password);

            saving(false);
          },
          layout: [
            [
              "nama_perusahaan",
              "email",
              "no_hp",
              "alamat",
              "surat_ket_pt",
              "status",
              "change_password",
            ],
          ],
        },
      },
    }}
  />
</>