<>
  <effect meta={{}} run={() => {}} />
  <admin
    content={{
      barang: {
        table: "barang",
        list: {
          table: {
            columns: [
              ["nama_barang", {}],
              ["jenis_barang", {}],
              ["merk_barang", {}],
              ["detail_barang", {}],
              ["stok_barang", {}],
              ["harga_barang", {}],
              ["gambar_barang", {}],
            ],
          },
        },
        form: {
          alter: {
            gambar_barang: {
              type: "file",
              required: true,
              fieldProps: {
                acceptFile: "asas",
              },
            },
          },
          layout: [
            ["nama_barang"],
            ["jenis_barang"],
            ["merk_barang"],
            ["detail_barang"],
            ["stok_barang"],
            ["harga_barang"],
            ["gambar_barang"],
          ],
        },
      },
    }}
  />
</>