<>
  <effect meta={{}} run={() => {}} />
  <admin
    content={{
      barang: {
        table: "barang",
        // list: {
        //   table: {
        //     columns: [
        //       ["nama", {}],
        //       ["username", {}],
        //       ["email", {}],
        //       ["no_hp", { title: "No Hp" }],
        //       ["role", {}],
        //     ],
        //   },
        // },
        form: {
          alter: {},
          layout: [
            ["nama_barang"],
            ["jenis_barang"],
            ["merk_barang"],
            ["detail_barang"],
            ["stok_barang"],
          ],
        },
      },
    }}
  />
</>