<>
  <effect
    meta={{
      cart: [],
      total_harga: 0,
      total_item: 0,
      batas_date: "",
      start_date: "",
      end_date: "",
      is_loading: false,
    }}
    run={async () => {
      // api(`/api/customer/${user.customer.id}/cart`).then((e) => {
      //   console.log(e);
      //   meta.cart = e.data;
      //   meta.action.total_count();
      //   meta.is_loading = false;
      // });

      let a = new Date();
      a.setDate(a.getDate() + 1);
      meta.start_date = dateFormat(a);
      meta.batas_date = dateFormat(a);
      a.setDate(a.getDate() + 1);
      meta.end_date = dateFormat(a);
      console.log();

      meta.action = {
        get_price: () => {
          if (meta.cart.length > 0) {
            api(`/api/checkout/${meta.cart[0].transaksi.id}`, {
              tanggal_peminjaman: meta.start_date,
              tanggal_pengembalian: meta.end_date,
            }).then((e) => {
              console.log(e);
            });
          }
        },
        start_date_change: (e) => {
          runInAction(() => {
            meta.start_date = e.target.value;
            let a = new Date(meta.start_date);
            a.setHours(0, 0, 0, 0);
            let b = new Date(meta.end_date);
            b.setHours(0, 0, 0, 0);
            //jika start date lebih dari end date maka end date otomatis +1 dari start date
            if (a > b) {
              console.log("oooo");
              let aa = new Date(meta.start_date);
              aa.setDate(aa.getDate() + 1);
              meta.end_date = dateFormat(aa);
            }
            meta.action.total_count();
          });
        },
        end_date_change: (e) => {
          runInAction(() => {
            meta.end_date = e.target.value;
            meta.action.total_count();
          });
        },

        total_count: () => {
          let tt_h = 0;
          let tt_i = 0;

          meta.cart.forEach((x, i) => {
            tt_h += x.barang.harga_barang * x.quantity;
            tt_i += x.quantity;
          });

          let a = new Date(meta.start_date);
          let b = new Date(meta.end_date);

          let h = Math.floor((b - a) / (1000 * 60 * 60 * 24));

          runInAction(() => {
            meta.total_harga = tt_h * h;
            meta.total_item = tt_i;
          });
        },
        update_qty: (id, qty) => {
          api(`/api/customer/${user.customer.id}/update-cart/${id}`, {
            quantity: qty,
          }).then((e) => {
            console.log(e);
          });
        },
        addQty: (idx) => {
          runInAction(() => {
            meta.cart[idx].quantity += 1;
            meta.action.total_count();
            meta.action.update_qty(meta.cart[idx].id, meta.cart[idx].quantity);
          });
        },
        subQty: (idx) => {
          runInAction(() => {
            if (meta.cart[idx].quantity > 1) {
              meta.cart[idx].quantity -= 1;
              meta.action.total_count();
              meta.action.update_qty(
                meta.cart[idx].id,
                meta.cart[idx].quantity
              );
            }
          });
        },
      };
    }}
  />
  <>
    <loding state={meta.is_loading} />
    <div
      class={
        (meta.is_loading ? "hidden" : "flex") +
        " flex-col items-start justify-start h-screen w-full bg-white"
      }
    >
      <top-naviagation mode={2} />
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start relative overflow-y-auto">
        <div class="text-3xl font-bold text-coolGray-900 px-6">Checkout</div>
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start pb-10">
          {/*date*/}
          <div class="flex flex-wrap self-stretch items-start justify-between overflow-hidden px-5">
            <div class="flex flex-col flex-1 m-2">
              <span>Start Date</span>
              <div class="bg-gray-100 px-3 py-2 rounded ">
                <input
                  min={meta.batas_date}
                  value={meta.start_date}
                  onChange={(e) => {
                    meta.action.start_date_change(e);
                  }}
                  type="date"
                  class="w-full"
                />
              </div>
            </div>
            <div class="flex flex-col flex-1 m-2">
              <span>End Date</span>
              <div class="bg-gray-100 px-3 py-2 rounded">
                <input
                  min={meta.start_date}
                  value={meta.end_date}
                  onChange={(e) => {
                    meta.action.end_date_change(e);
                  }}
                  type="date"
                  class="w-full"
                />
              </div>
            </div>
          </div>

          {/*item list*/}
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
            <div class="text-base font-bold leading-relaxed text-coolGray-900">
              Item List
            </div>
            {meta.cart.length > 0 ? (
              meta.cart.map((x, i) => (
                <item-cart
                  title={x.barang.nama_barang}
                  img={"/fimgs/232_297.x1.svg"}
                  price={x.barang.harga_barang}
                  qty={x.quantity}
                  add={() => {
                    meta.action.addQty(i);
                  }}
                  sub={() => {
                    meta.action.subQty(i);
                  }}
                  mode={true}
                />
              ))
            ) : (
              <div class="text-sm font-bold leading-snug text-center text-coolGray-400 w-full">
                Empty
              </div>
            )}
          </div>
          {/*          */}
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
            <div class="flex self-stretch space-x-4 items-center justify-between">
              <div class="text-base font-bold leading-relaxed text-coolGray-900">
                Shipping Address
              </div>
              <a class="text-xs font-bold leading-tight text-right text-coolGray-300">
                Change Address
              </a>
            </div>
            <div class="flex self-stretch space-x-3 items-start justify-start">
              <div>
                <img src="/fimgs/262_233.x1.svg" />
              </div>
              <div class="text-sm leading-snug text-coolGray-900">
                John Doe - (+62) 876 1244 1222
                <br />
                Jl. Payung no 26D
                <br />
                Kota Pekanbaru - Payung Sekaki, Riau
              </div>
            </div>
          </div>
          {/*          */}
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
            <div class="flex self-stretch space-x-4 items-center justify-between">
              <div class="text-base font-bold leading-relaxed text-coolGray-900">
                Payment Method
              </div>
              <a class="text-xs font-bold leading-tight text-right text-coolGray-300">
                Change Method
              </a>
            </div>
            <div class="flex self-stretch space-x-2 items-center justify-start">
              <div class="flex flex-col items-center justify-center px-1 py-0.5">
                <img style="width:3rem;" src="/fimgs/262_242.x3.png" />
              </div>
              <div class="text-sm leading-snug text-coolGray-900">
                Transfer Manual
              </div>
            </div>
          </div>
          {/*       detail   */}
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
            <div class="flex items-center justify-start">
              <div class="text-base font-bold leading-relaxed text-coolGray-900">
                Detail Transaction
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
              <div class="flex self-stretch space-x-4 items-start justify-between">
                <div class="text-sm leading-snug text-coolGray-900">
                  Total Cost
                </div>
                <div class="text-sm leading-snug text-right text-coolGray-900">
                  Rp.{numberWithCommas(meta.total_harga)}
                </div>
              </div>
              <div class="flex self-stretch space-x-4 items-start justify-between">
                <div class="text-sm leading-snug text-coolGray-900">
                  Shipping Total
                </div>
                <div class="text-sm leading-snug text-right text-coolGray-900">
                  Rp35.000
                </div>
              </div>
              <div class="flex self-stretch space-x-4 items-start justify-between">
                <div class="text-sm leading-snug text-coolGray-900">
                  Admin Cost
                </div>
                <div class="text-sm leading-snug text-right text-coolGray-900">
                  Rp1.000
                </div>
              </div>
              <div class="flex self-stretch space-x-4 items-start justify-between">
                <div class="text-sm leading-snug text-coolGray-900">
                  Unique Code
                </div>
                <div class="text-sm leading-snug text-right text-coolGray-900">
                  Rp125
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <total-price-cart
        total_item={meta.total_item}
        total_harga={meta.total_harga}
        btn_title="checkout"
        btnClick={() => {
          meta.action.get_price();
        }}
      />
    </div>
  </>
</>