<>
  <effect
    meta={{
      total_order: 0,
      items_rent: 0,
      total_sales: 0,
      net_sales: 0,
      top_customer: [],
      top_items: [],
      dari: new URL(window.location.href).searchParams.get("dari")
        ? new URL(window.location.href).searchParams.get("dari")
        : undefined,
      ke: new URL(window.location.href).searchParams.get("ke")
        ? new URL(window.location.href).searchParams.get("ke")
        : undefined,
    }}
    run={async () => {
      meta.action = {
        formatRupiah: (money: number | bigint) => {
          return new Intl.NumberFormat("id-ID", {
            style: "currency",
            currency: "IDR",
            minimumFractionDigits: 0,
          }).format(money);
        },
        changeInp: (e) => {
          meta[e.target.name] = e.target.value;
        },
      };

      runInAction(async () => {
        let dari = meta.dari ? meta.dari : "1000-12-12";
        let to = meta.ke ? meta.ke : new Date();
        to = new Date(to).setHours(23, 59);

        let orders = await db.transaksi.findMany({
          where: {
            AND: {
              NOT: {
                tanggal_pemesanan: null,
              },
              tanggal_pemesanan: {
                gte: new Date(dari),
                lte: new Date(to),
              },
            },
          },
          include: {
            bank: true,
          },
        });

        let orders_completed = await db.transaksi.findMany({
          where: {
            AND: {
              status_transaksi: 8,
              tanggal_pemesanan: {
                gte: new Date(dari),
                lte: new Date(to),
              },
            },
          },
        });

        let detail_transaksi = await db.detail_transaksi.findMany({
          where: {
            transaksi: {
              AND: {
                status_transaksi: 8,
                tanggal_pemesanan: {
                  gte: new Date(dari),
                  lte: new Date(to),
                },
              },
            },
          },
        });

        let customers = await db.customer.findMany({
          select: {
            nama_customer: true,
            transaksi: {
              where: {
                AND: {
                  status_transaksi: 8,
                  tanggal_pemesanan: {
                    gte: new Date(dari),
                    lte: new Date(to),
                  },
                },
              },
              select: {
                total_harga: true,
                biaya_pengiriman: true,
                kode_unik: true,
                bank: {
                  select: {
                    biaya_admin: true,
                  },
                },
              },
            },
          },
        });

        let barang = await db.barang.findMany({
          include: {
            detail_transaksi: {
              where: {
                transaksi: {
                  AND: {
                    status_transaksi: 8,
                    tanggal_pemesanan: {
                      gte: new Date(dari),
                      lte: new Date(to),
                    },
                  },
                },
              },
              select: {
                quantity: true,
                total_harga: true,
              },
            },
          },
        });

        barang.forEach((item, index) => {
          let rent = 0;
          let sales = 0;
          meta.top_items[index] = { nama: item.nama_barang };
          item.detail_transaksi.forEach((i) => {
            rent += i.quantity;
            sales += i.total_harga;
          });
          meta.top_items[index].rent = rent;
          meta.top_items[index].sales = sales;
        });

        customers.forEach((item, index) => {
          let spend = 0;
          meta.top_customer[index] = {
            nama: item.nama_customer,
            orders: item.transaksi.length,
          };
          item.transaksi.forEach((i) => {
            spend += i.biaya_pengiriman;
            spend += i.total_harga;
            spend += i.kode_unik;
            spend += i.bank.biaya_admin;
          });

          meta.top_customer[index].spend = spend;
        });

        detail_transaksi.forEach((item) => {
          meta.items_rent += item.quantity;
        });

        orders.forEach((item) => {
          meta.total_sales += item.total_harga;
          meta.total_sales += item.biaya_pengiriman;
          meta.total_sales += item.kode_unik;
          meta.total_sales += item.bank.biaya_admin;
        });

        orders_completed.forEach((item) => {
          meta.net_sales += item.total_harga * (10 / 100);
          meta.net_sales += item.biaya_pengiriman * (10 / 100);
          meta.net_sales += item.kode_unik;
        });

        meta.top_customer.sort((a, b) => {
          return a.spend - b.spend;
        });
        meta.top_customer.reverse();

        meta.top_items.sort((a, b) => {
          return a.sales - b.sales;
        });
        meta.top_items.reverse();

        meta.total_sales = meta.action.formatRupiah(meta.total_sales);
        meta.total_order = orders_completed.length;
        meta.net_sales = meta.action.formatRupiah(meta.net_sales);
      });
    }}
  />
  <div
    class="flex self-stretch flex-col space-y-6 items-start justify-start relative overflow-y-auto"
    id="content"
  >
    <div class={`flex self-stretch items-start justify-start`}>
      <div class="flex flex-1 flex-col items-start justify-start">
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start px-9 pb-10 relative overflow-y-auto">
          <div class="text-3xl font-bold text-coolGray-900">Analytics</div>
          <form class="flex space-x-5 items-end justify-start">
            <div class="flex flex-col space-y-2">
              <label
                class={`text-base font-medium leading-relaxed text-coolGray-500`}
                for="from"
              >
                From
              </label>
              <input
                class={`py-2 px-2.5 rounded`}
                type="date"
                id="from"
                name="dari"
                value={meta.dari}
                onChange={(e) => {
                  meta.action.changeInp(e);
                }}
              />
            </div>
            <div class="flex flex-col space-y-2">
              <label
                class={`text-base font-medium leading-relaxed text-coolGray-500`}
                for="to"
              >
                To
              </label>
              <input
                class={`py-2 px-2.5 rounded`}
                type="date"
                id="to"
                name="ke"
                value={meta.ke}
                onChange={(e) => {
                  meta.action.changeInp(e);
                }}
              />
            </div>
            <button
              class="text-base px-4 py-2 bg-blue-700 rounded text-white"
              type="submit"
            >
              Apply
            </button>
          </form>
          <div class="flex self-stretch space-x-6">
            <div class="p-6 pb-7 flex flex-1 self-stretch flex-col space-y-4 bg-coolGray-50 shadow border border-coolGray-300 rounded">
              <div class="text-base font-bold leading-relaxed text-coolGray-900 pb-1">
                Total Sales
              </div>
              <div class="flex self-stretch flex-col">
                <div class="text-3xl text-coolGray-900">
                  {/*{meta.action.formatRupiah(meta.total_sales)}*/}
                  {meta.total_sales}
                </div>
              </div>
            </div>

            <div class="p-6 pb-7 flex flex-1 self-stretch flex-col space-y-4 bg-coolGray-50 shadow border border-coolGray-300 rounded">
              <div class="text-base font-bold leading-relaxed text-coolGray-900 pb-1">
                Net Sales
              </div>
              <div class="flex self-stretch flex-col">
                <div class="text-3xl text-coolGray-900">{meta.net_sales}</div>
              </div>
            </div>

            <div class="p-6 pb-7 flex flex-1 self-stretch flex-col space-y-4 bg-coolGray-50 shadow border border-coolGray-300 rounded">
              <div class="text-base font-bold leading-relaxed text-coolGray-900 pb-1">
                Orders
              </div>
              <div class="flex self-stretch flex-col">
                <div class="text-3xl text-coolGray-900">{meta.total_order}</div>
              </div>
            </div>

            <div class="p-6 pb-7 flex flex-1 self-stretch flex-col space-y-4 bg-coolGray-50 shadow border border-coolGray-300 rounded">
              <div class="text-base font-bold leading-relaxed text-coolGray-900 pb-1">
                Items Rent
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="text-3xl text-coolGray-900">{meta.items_rent}</div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-8">
            <div class="flex flex-1 flex-col">
              <div class="flex self-stretch flex-col pt-6 bg-coolGray-50 shadow border border-coolGray-300">
                <div class="flex self-stretch flex-col space-y-5">
                  <div class="flex font-bold self-stretch px-6">
                    Top 10 Erent User: Total Spend
                  </div>
                  <div class="w-full">
                    <table class="flex flex-col space-y-5 pb-8 ">
                      <thead class="flex self-stretch items-center py-3 px-8 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                        <tr class="flex w-full">
                          <th class="flex flex-1 font-bold">Name</th>
                          <th class="flex flex-1 font-bold">Orders</th>
                          <th class="flex flex-1 font-bold">Total Spend</th>
                        </tr>
                      </thead>
                      <tbody class="flex flex-col space-y-5 self-stretch py-3 px-8">
                        {meta.top_customer.slice(0, 10).map((item) => {
                          return (
                            <tr class="flex w-full">
                              <td class="flex flex-1">{item.nama}</td>
                              <td class="flex flex-1">{item.orders}</td>
                              <td class="flex flex-1">
                                {meta.action.formatRupiah(item.spend)}
                              </td>
                            </tr>
                          );
                        })}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-1 flex-col">
              <div class="flex self-stretch flex-col pt-6 bg-coolGray-50 shadow border border-coolGray-300">
                <div class="flex self-stretch flex-col space-y-5">
                  <div class="flex font-bold self-stretch px-6">
                    Top 10 Erent Items: Items Sold
                  </div>
                  <div class="w-full">
                    <table class="flex flex-col space-y-5 pb-8 ">
                      <thead class="flex self-stretch items-center py-3 px-8 bg-coolGray-50 border rounded-tl rounded-tr border-coolGray-300">
                        <tr class="flex w-full">
                          <th class="flex flex-1 font-bold">Name</th>
                          <th class="flex flex-1 font-bold">Item Rent</th>
                          <th class="flex flex-1 font-bold">Total Sales</th>
                        </tr>
                      </thead>
                      <tbody class="flex flex-col space-y-5 self-stretch py-3 px-8">
                        {meta.top_items.slice(0, 10).map((item) => {
                          return (
                            <tr class="flex w-full">
                              <td class="flex flex-1">{item.nama}</td>
                              <td class="flex flex-1">{item.rent}</td>
                              <td class="flex flex-1">
                                {meta.action.formatRupiah(item.sales)}
                              </td>
                            </tr>
                          );
                        })}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>