<>
  <effect meta={{}} run={() => {}} />
  <admin
    content={{
      admin: {
        table: "admin",
        list: {
          table: {
            columns: [
              ["nama", {}],
              ["username", {}],
              ["email", {}],
              ["no_hp", { title: "No Hp" }],
              ["role", {}],
            ],
          },
        },
        form: {
          alter: {},
          layout: [["nama"], ["username"], ["email"], ["no_hp"], ["role"]],
        },
      },
    }}
  />
</>