<>
  <effect meta={{}} run={() => {}} />
  <admin
    content={{
      admin: {
        table: "admin",
        list: {
          table: {
            columns: [
              ["nama", {}],
              ["username", {}],
              ["email", {}],
              ["no_hp", { title: "No Hp" }],
              ["alamat", {}],
              ["role", {}],
            ],
          },
        },

        form: {
          alter: {
            no_hp: { title: "No Hp" },
            change_password: { title: "Password" },
          },
          onSave: async ({ data, saving, save }) => {
            if (data.change_password) {
              const password = await api("/api/hash-pass", {
                password: data.change_password,
              });
              data.password = await password.password;
            }
            save(data);
          },
          layout: [
            ["nama"],
            ["username"],
            ["email"],
            ["no_hp"],
            ["alamat"],
            ["role"],
            ["change_password"],
          ],
        },
      },
    }}
  />
</>