<>
  <effect meta={{}} run={() => {}} />
  <admin
    content={{
      admin: {
        table: "admin",
        list: {
          table: {
            columns: [
              ["nama", {}],
              ["username", {}],
              ["email", {}],
              ["no_hp", { title: "No Hp" }],
              ["alamat", {}],
              ["role", {}],
            ],
          },
        },
        form: {
          alter: {
            no_hp: { title: "No Hp" },
          },
          layout: [
            ["nama"],
            ["username"],
            ["email"],
            ["no_hp"],
            ["alamat"],
            ["role"],
          ],
        },
      },
    }}
  />
</>