<>
  <effect
    meta={{
      fileName: "No file choosen",
      rePassword: "",
      email: "",
      name: "",
      no_hp: "",
      alamat: "",
      company_name: "",
      Password: "",
    }}
    run={async () => {
      meta.action = {
        importFile: (e) => {
          runInAction(() => {
            let input = document.createElement("input");
            input.type = "file";
            input.onchange = (_) => {
              let file = Array.from(input.files)[0];
              console.log(file);
              meta.fileName = file.name;
            };
            input.click();
            console.log("Coba"); //check email di sini
          });
        },
        inpChange: (e) => {
          runInAction(() => {
            meta[e.target.name] = e.target.value;
            console.log(e.target.name); //check email di sini
          });
        },
        register: () => {
          const data = {
            email: meta.email,
            password: meta.password,
            no_hp: meta.no_hp,
            alamat: meta.alamat,
            nama_perusahaan: meta.company_name,
          };
          console.log(meta.name, meta.email);
        },
      };
    }}
  />
  <>
    <div class="flex flex-col items-start justify-start w-full h-screen bg-white">
      <top-naviagation mode={2} />
      {/* body */}
      <div class="flex self-stretch flex-col  flex-grow space-y-7 items-start justify-start overflow-auto px-6 pb-10">
        <img
          src="/fimgs/153_1387.x1.svg"
          class="flex self-stretch flex-col items-center justify-start"
        />
        <div class="flex self-stretch items-center justify-center">
          <div class="text-3xl font-bold text-center">Be part of us.</div>
        </div>
        <div class="flex self-stretch flex-col space-y-5 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Email
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                value={meta.email}
                name="email"
                onChange={(e) => meta.action.inpChange(e)}
                placeholder="sales@andromedia.co.id"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>

          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Name
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                value={meta.name}
                name="name"
                onChange={(e) => meta.action.inpChange(e)}
                placeholder="John Doe"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>

          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              No Hp
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                value={meta.no_hp}
                name="no_hp"
                onChange={(e) => meta.action.inpChange(e)}
                placeholder="0854"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>

          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Alamat
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                value={meta.alamat}
                name="no_hp"
                onChange={(e) => meta.action.inpChange(e)}
                placeholder="zimbapwe"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>

          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Company Name
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                value={meta.company_name}
                onChange={(e) => meta.action.inpChange(e)}
                placeholder="Andromedia"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Upload Document
            </div>
            <div class="flex space-x-2 items-center justify-start">
              <div class="flex items-center justify-start px-4 py-2 bg-blue-700 rounded">
                <button
                  type="file"
                  onClick={() => {
                    meta.action.importFile();
                  }}
                  class="text-base leading-relaxed text-center text-white"
                >
                  Choose File
                </button>
              </div>
              <div class="text-base leading-relaxed text-center text-coolGray-500">
                {meta.fileName}
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Password
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full">
                <input
                  value={meta.password}
                  name="password"
                  onChange={(e) => meta.action.inpChange(e)}
                  type="password"
                  placeholder="*******"
                />
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Re-type Password
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full">
                <input
                  value={meta.repassword}
                  name="repassword"
                  onChange={(e) => meta.action.inpChange(e)}
                  type="password"
                  placeholder="*******"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start">
          <button
            onClick={() => {
              meta.action.register();
            }}
            class="flex self-stretch items-center justify-center px-4 py-2 bg-blue-600 rounded text-base font-medium leading-relaxed text-center text-white"
          >
            Sign Up
          </button>
        </div>
        <div class={`flex self-stretch items-center justify-center`}>
          <div class="[class]">
            Already have account?{" "}
            <a href="/m/login-mobile" class="text-blue-500">
              Sign In
            </a>
          </div>
        </div>
      </div>
    </div>
  </>
</>