<>
  <effect
    meta={{
      id: "",
      password: "",
      ulangPassword: "",
    }}
    run={async () => {
      meta.action = {
        passwordChange: (e) => {
          runInAction(() => {
            meta.password = e.target.value;
            console.log(meta.password); //check password di sini
          });
        },
        ulangPasswordChange: (e) => {
          runInAction(() => {
            meta.ulangPassword = e.target.value;
            console.log(meta.ulangPassword); //check retype password di sini
          });
        },
      };
    }}
  />
  <>
    <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start px-64 pt-10 pb-36 bg-blue-700">
      <img
        src="/fimgs/410_1125.x1.png"
        class="flex self-stretch flex-col items-center justify-start px-8"
      />
      <div class="flex self-stretch flex-col items-start justify-start p-2.5">
        <div class="flex self-stretch flex-col space-y-5 items-start justify-start p-12 bg-white shadow rounded">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              New Password
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                value={meta.password}
                onChange={(e) => meta.action.passwordChange(e)}
                placeholder="Your new password"
                type="password"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
            {/* Warning password belum terisi */}
            {/*<div class="text-sm italic font-italic leading-snug text-red-500">*/}
            {/*{meta.notif_msg}*/}
            {/*</div>*/}
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="text-base font-medium leading-relaxed text-coolGray-500">
              Retype Password
            </div>
            <div class="flex self-stretch items-start justify-start">
              <input
                value={meta.ulangPassword}
                onChange={(e) => meta.action.ulangPasswordChange(e)}
                type="password"
                placeholder="Retype new password"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
            {/* Warning password belum terisi */}
            <div class="text-sm italic font-italic leading-snug text-red-500">
              {meta.notif_msg}
            </div>
          </div>
          <div class="flex space-x-4 items-start justify-end w-full">
            <div class="flex items-center justify-start px-4 py-2 border rounded border-blue-700">
              <button
                class="text-base leading-relaxed text-center text-blue-700"
                onClick={() => {
                  history.back();
                }}
              >
                Discard
              </button>
            </div>
            <div class="flex items-center justify-start px-4 py-2 bg-blue-700 rounded">
              <button
                class="text-base leading-relaxed text-center text-white"
                onClick={meta.submit}
              >
                Change Password
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>