<>
  <effect
    meta={{
      cart: [],
      total_harga: 0,
      total_item: 0,
    }}
    run={async () => {
      api(`/api/customer/${user.customer.id}/cart`).then((e) => {
        console.log(e);
        meta.cart = e.data;
        meta.action.total_count();
      });

      meta.action = {
        total_count: () => {
          let tt_h = 0;
          let tt_i = 0;

          meta.cart.forEach((x, i) => {
            tt_h += x.barang.harga_barang * x.quantity;
            tt_i += x.quantity;
          });
          runInAction(() => {
            meta.total_harga = tt_h;
            meta.total_item = tt_i;
          });
        },
        addQty: (idx) => {
          runInAction(() => {
            meta.cart[idx].quantity += 1;
            meta.action.total_count();
          });
        },
        subQty: (idx) => {
          runInAction(() => {
            if (meta.cart[idx].quantity > 1) {
              meta.cart[idx].quantity -= 1;
              meta.action.total_count();
            }
          });
        },
        del: (idx) => {
          runInAction(() => {
            api(`/api/customer/${user.customer.id}/delete-cart`, {
              id_barang: meta.cart[idx].barang.id,
            }).then((e) => {
              meta.cart.splice(idx, 1);
              meta.action.total_count();
            });
          });
        },
      };
    }}
  />
  <>
    <div class="flex flex-col items-start justify-start h-screen w-full bg-white">
      {/*notif and chart button*/}
      <top-naviagation />
      <div class="flex self-stretch flex-grow flex-col items-start justify-start overflow-auto">
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
          <div class="text-3xl font-bold text-coolGray-900">Cart</div>

          {meta.cart.map((x, i) => (
            <item-cart
              title={x.barang.nama_barang}
              img={"/fimgs/232_297.x1.svg"}
              price={x.barang.harga_barang}
              qty={x.quantity}
              add={() => {
                meta.action.addQty(i);
              }}
              sub={() => {
                meta.action.subQty(i);
              }}
              del={() => {
                meta.action.del(i);
              }}
            />
          ))}
        </div>
      </div>
      <total-price-cart
        total_item={meta.total_item}
        total_harga={meta.total_harga}
      />
    </div>
  </>
</>