@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@layer base {
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(/fonts/Poppins-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url(/fonts/Poppins-SemiBold.ttf) format("truetype");
  }
  @font-face {
      font-family: Poppins;
      font-weight: 700;
      src: url(/fonts/Poppins-Bold.ttf) format("truetype");
    }

}

.notif{
  transform: translateY(-100px);
}
.notif-n{
  /* transform: translateY(0rem); */
  display: flex;
  position: fixed;
  background-color: blue;
  justify-content: space-between;
  color: white;
  left:1rem;
  right:1rem;
  padding:1rem;
  top:3rem;
  transition: all;
}
/* @layer utilities{
.notif {
  @apply fixed bg-blue-600 rounded text-white flex justify-between items-center transform-all translate-y-10; 
}
} */

#content{
  margin-top: 0;
  padding-top:calc(2.5rem*(1 - var(--tw-space-y-reverse)));
}